<div class="height col-md-6">
    <!-- top image slideshow -->
    <div id="tour-slide">
        <div class="slide">
            <div class="bg-stretch">
                <img src="img/accommodation/jimny/jimny1.jpg" alt="image descriprion" height="800" width="800">
            </div>
        </div>
        <div class="slide">
            <div class="bg-stretch">
                <img src="img/accommodation/jimny/jimny2.jpg" alt="image descriprion" height="800" width="800">
            </div>
        </div>
    </div>
</div>