<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrada</title>
    <!-- favion -->
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <!-- link to font awesome -->
    <link media="all" rel="stylesheet" href="vendors/font-awesome/css/font-awesome.css">
    <!-- link to material icon font -->
    <link media="all" rel="stylesheet" href="vendors/material-design-icons/material-icons.css">
    <!-- link to custom icomoon fonts -->
    <link rel="stylesheet" type="text/css" href="css/fonts/icomoon/icomoon.css">
    <!-- link to wow js animation -->
    <link media="all" rel="stylesheet" href="vendors/animate/animate.css">
    <!-- include bootstrap css -->
    <link media="all" rel="stylesheet" href="css/bootstrap.css">
    <!-- include owl css -->
    <link media="all" rel="stylesheet" href="vendors/owl-carousel/owl.carousel.css">
    <link media="all" rel="stylesheet" href="vendors/owl-carousel/owl.theme.css">
    <!-- include main css -->
    <link media="all" rel="stylesheet" href="css/main.css">
</head>

<body>
    <div class="preloader" id="pageLoad">
        <div class="holder">
            <div class="coffee_cup"></div>
        </div>
    </div>
    <!-- main wrapper -->
    <div id="wrapper">
        <div class="page-wrapper">
            {% include './blocks/navbar.twig' %}
            <!-- main banner -->
            <section class="banner banner-inner parallax" data-stellar-background-ratio="0.5" id="about-banner">
                <div class="banner-text">
                    <div class="center-text">
                        <div class="container">
                            <h1>About Us</h1>
                            <strong class="subtitle">The most detailed and modern Adventure theme!</strong>
                            <!-- breadcrumb -->
                            <nav class="breadcrumbs">
                                <ul>
                                    <li><a href="#">HOME</a></li>
                                    <li><span>ABOUT US</span></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </section>
            <!-- main container -->
            <main id="main">
                <!-- content block with article -->
                <div class="content-block bg-white content-center">
                    <div class="container">
                        <header class="content-heading">
                            <h2 class="main-heading">THE ADVENTURE</h2>
                            <strong class="main-subtitle">Mastering the art of perfect adventure for 10+ years in the
                                wild.</strong>
                            <div class="seperator"></div>
                        </header>
                        <div class="row text-center">
                            <div class="col-sm-4 article">
                                <div class="img-wrap1">
                                    <img width="150" src="img/icons/ico01.svg" alt="image description">
                                </div>
                                <div class="description">
                                    <h3>Travel &amp; Tourism</h3>
                                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat
                                        ipsum</p>
                                </div>
                            </div>
                            <div class="col-sm-4 article">
                                <div class="img-wrap1">
                                    <img width="120" src="img/icons/ico02.svg" alt="image description">
                                </div>
                                <div class="description">
                                    <h3>Mission &amp; Values</h3>
                                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat
                                        ipsum</p>
                                </div>
                            </div>
                            <div class="col-sm-4 article">
                                <div class="img-wrap1">
                                    <img width="118" src="img/icons/ico03.svg" alt="image description">
                                </div>
                                <div class="description">
                                    <h3>Sustainable Travel</h3>
                                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat
                                        ipsum</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content block with article -->
                <div class="content-block bg-gray">
                    <div class="container">
                        <header class="content-heading">
                            <h2 class="main-heading">ABOUT ENTRADA</h2>
                            <strong class="main-subtitle">A work of art is above all an adventure of mind!</strong>
                            <div class="seperator"></div>
                        </header>
                        <div class="row">
                            <div class="col-sm-6 description-text">
                                <h3>Best Adventure Template.</h3>
                                <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                    aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,
                                    nec sagittis sem nibh id elit. </p>
                                <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum
                                    velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae
                                    erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora </p>
                            </div>
                            <div class="col-sm-6 description-text">
                                <h3>Awesome Tour Details.</h3>
                                <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                    aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,
                                    nec sagittis sem nibh id elit. </p>
                                <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum
                                    velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae
                                    erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- services block -->
                <div class="services-block has-bg parallax" id="about-service-block">
                    <div class="container">
                        <div class="row db-3-col">
                            <div class="col-sm-4 ico-article wow fadeInUp" data-wow-duration="400ms"
                                data-wow-delay="200ms">
                                <div class="ico-holder">
                                    <span class="icon-hiking"></span>
                                </div>
                                <div class="description">
                                    <strong class="content-title"><a href="#">CAMPING AND HIKING</a></strong>
                                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitu</p>
                                </div>
                            </div>
                            <div class="col-sm-4 ico-article wow fadeInUp" data-wow-duration="400ms"
                                data-wow-delay="300ms">
                                <div class="ico-holder">
                                    <span class="icon-wildlife"></span>
                                </div>
                                <div class="description">
                                    <strong class="content-title"><a href="#">WILDLIFE AND POLAR</a></strong>
                                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitu</p>
                                </div>
                            </div>
                            <div class="col-sm-4 ico-article wow fadeInUp" data-wow-duration="400ms"
                                data-wow-delay="400ms">
                                <div class="ico-holder">
                                    <span class="icon-mountain-biking"></span>
                                </div>
                                <div class="description">
                                    <strong class="content-title"><a href="#">MOUNTAIN BIKING</a></strong>
                                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitu</p>
                                </div>
                            </div>
                            <div class="col-sm-4 ico-article wow fadeInUp" data-wow-duration="400ms"
                                data-wow-delay="500ms">
                                <div class="ico-holder">
                                    <span class="icon-scuba-diving"></span>
                                </div>
                                <div class="description">
                                    <strong class="content-title"><a href="#">SCUBA DIVING</a></strong>
                                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitu</p>
                                </div>
                            </div>
                            <div class="col-sm-4 ico-article wow fadeInUp" data-wow-duration="400ms"
                                data-wow-delay="600ms">
                                <div class="ico-holder">
                                    <span class="icon-jeep"></span>
                                </div>
                                <div class="description">
                                    <strong class="content-title"><a href="#">JUNGLE SAFARI</a></strong>
                                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitu</p>
                                </div>
                            </div>
                            <div class="col-sm-4 ico-article wow fadeInUp" data-wow-duration="400ms"
                                data-wow-delay="700ms">
                                <div class="ico-holder">
                                    <span class="icon-bungee"></span>
                                </div>
                                <div class="description">
                                    <strong class="content-title"><a href="#">BUNGEE JUMPING</a></strong>
                                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitu</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content block with guide info -->
                <section class="content-block guide-sub">
                    <div class="container">
                        <header class="content-heading">
                            <h2 class="main-heading">PEOPLE POWER</h2>
                            <span class="main-subtitle">Our guides are the secret weapon behind our success.</span>
                            <div class="seperator"></div>
                        </header>
                        <div class="row guide-info">
                            <div class="col-sm-6">
                                <div class="description">
                                    <h3>Amazing support for all.</h3>
                                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat
                                        ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
                                        cursus a sit amet mauris. </p>
                                    <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.
                                        Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti
                                        sociosqu ad litora torquent per conubia nostra.</p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-5 progress-holder">
                                <div class="bar-holder">
                                    <strong class="title">ALL ADVENTURE</strong>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="75"
                                            aria-valuemin="0" aria-valuemax="100" id="progress1">
                                            <span class="value">75%</span>
                                        </div>
                                    </div>
                                    <strong class="title">PEAK CLIMBING</strong>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="77"
                                            aria-valuemin="0" aria-valuemax="100" id="progress2">
                                            <span class="value">77%</span>
                                        </div>
                                    </div>
                                    <strong class="title">SCUBA DIVING</strong>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="57"
                                            aria-valuemin="0" aria-valuemax="100" id="progress3">
                                            <span class="value">57%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- step block -->
                <div class="step-block text-center parallax" data-stellar-background-ratio="0.3" id="about-step-block">
                    <div class="container">
                        <blockquote class="normal">
                            <q>“Let us step into the night and pursue that flighty temptress, adventure.”</q>
                        </blockquote>
                    </div>
                </div>
                <!-- service block -->
                <div class="services-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4 col-md-3 ico-article">
                                <div class="ico-holder">
                                    <span class="icon-egypt"></span>
                                </div>
                                <div class="description">
                                    <strong class="content-title">Entrada Histori</strong>
                                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitu</p>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-3 ico-article">
                                <div class="ico-holder">
                                    <span class="icon-person"></span>
                                </div>
                                <div class="description">
                                    <strong class="content-title">Core Values</strong>
                                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitu</p>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-3 ico-article">
                                <div class="ico-holder">
                                    <span class="icon-plant"></span>
                                </div>
                                <div class="description">
                                    <strong class="content-title">Sustainable Travel</strong>
                                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitu</p>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-3 ico-article">
                                <div class="ico-holder">
                                    <span class="icon-bulb"></span>
                                </div>
                                <div class="description">
                                    <strong class="content-title">Innovative Adventure</strong>
                                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitu</p>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-3 ico-article">
                                <div class="ico-holder">
                                    <span class="icon-cup"></span>
                                </div>
                                <div class="description">
                                    <strong class="content-title">Awards &amp; Accolades</strong>
                                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitu</p>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-3 ico-article">
                                <div class="ico-holder">
                                    <span class="icon-locals"></span>
                                </div>
                                <div class="description">
                                    <strong class="content-title">Work with Locals</strong>
                                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitu</p>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-3 ico-article">
                                <div class="ico-holder">
                                    <span class="icon-foot-step"></span>
                                </div>
                                <div class="description">
                                    <strong class="content-title">Green Adventures</strong>
                                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitu</p>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-3 ico-article">
                                <div class="ico-holder">
                                    <span class="icon-person-budget"></span>
                                </div>
                                <div class="description">
                                    <strong class="content-title">Green Tourism</strong>
                                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitu</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- partner list -->
                <article class="partner-block bg-gray">
                    <div class="container">
                        <header class="content-heading">
                            <h2 class="main-heading">Partner</h2>
                            <span class="main-subtitle">People who always support and endorse our good work</span>
                            <div class="seperator"></div>
                        </header>
                        <div class="partner-list" id="partner-slide">
                            <div class="partner">
                                <a href="#">
                                    <img width="130" src="img/logos/logo-travelagancy.svg" alt="image description">
                                    <img class="hover" width="130" src="img/logos/logo-travelagancy-hover.svg"
                                        alt="image description">
                                </a>
                            </div>
                            <div class="partner">
                                <a href="#">
                                    <img width="130" src="img/logos/logo-around-world.svg" alt="image description">
                                    <img class="hover" width="130" src="img/logos/logo-around-world-hover.svg"
                                        alt="image description">
                                </a>
                            </div>
                            <div class="partner">
                                <a href="#">
                                    <img width="130" src="img/logos/logo-tourist.svg" alt="image description">
                                    <img class="hover" width="130" src="img/logos/logo-tourist-hover.svg"
                                        alt="image description">
                                </a>
                            </div>
                            <div class="partner">
                                <a href="#">
                                    <img width="130" src="img/logos/logo-adventure.svg" alt="image description">
                                    <img class="hover" width="130" src="img/logos/logo-adventure-hover.svg"
                                        alt="image description">
                                </a>
                            </div>
                            <div class="partner">
                                <a href="#">
                                    <img width="130" src="img/logos/logo-around-world.svg" alt="image description">
                                    <img class="hover" width="130" src="img/logos/logo-around-world-hover.svg"
                                        alt="image description">
                                </a>
                            </div>
                            <div class="partner">
                                <a href="#">
                                    <img width="130" src="img/logos/logo-travelagancy.svg" alt="image description">
                                    <img class="hover" width="130" src="img/logos/logo-travelagancy-hover.svg"
                                        alt="image description">
                                </a>
                            </div>
                            <div class="partner">
                                <a href="#">
                                    <img width="130" src="img/logos/logo-adventure.svg" alt="image description">
                                    <img class="hover" width="130" src="img/logos/logo-adventure-hover.svg"
                                        alt="image description">
                                </a>
                            </div>
                            <div class="partner">
                                <a href="#">
                                    <img width="130" src="img/logos/logo-around-world.svg" alt="image description">
                                    <img class="hover" width="130" src="img/logos/logo-around-world-hover.svg"
                                        alt="image description">
                                </a>
                            </div>
                            <div class="partner">
                                <a href="#">
                                    <img width="130" src="img/logos/logo-travelagancy.svg" alt="image description">
                                    <img class="hover" width="130" src="img/logos/logo-travelagancy-hover.svg"
                                        alt="image description">
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
            </main>
        </div>
        <!-- main footer -->
        <footer id="footer">
            <div class="container">
                <!-- newsletter form -->
                <form action="php/subscribe.html" id="signup" method="post" class="newsletter-form">
                    <fieldset>
                        <div class="input-holder">
                            <input type="email" class="form-control" placeholder="Email Address" name="subscriber_email"
                                id="subscriber_email">
                            <input type="submit" value="GO">
                        </div>
                        <span class="info" id="subscribe_message">To receive news, updates and tour packages via
                            email.</span>
                    </fieldset>
                </form>
                <!-- footer links -->
                <div class="row footer-holder">
                    <nav class="col-sm-4 col-lg-2 footer-nav active">
                        <h3>About Entrada</h3>
                        <ul class="slide">
                            <li><a href="#">The Company</a></li>
                            <li><a href="#">Our Values</a></li>
                            <li><a href="#">Responsiblity</a></li>
                            <li><a href="#">Our Mission</a></li>
                            <li><a href="#">Opportunity</a></li>
                            <li><a href="#">Safety Concerns</a></li>
                        </ul>
                    </nav>
                    <nav class="col-sm-4 col-lg-2 footer-nav">
                        <h3>Destinations</h3>
                        <ul class="slide">
                            <li><a href="#">Nepal</a></li>
                            <li><a href="#">Thailand</a></li>
                            <li><a href="#">Vietnam</a></li>
                            <li><a href="#">Fiji Island</a></li>
                            <li><a href="#">United States</a></li>
                            <li><a href="#">Australia</a></li>
                        </ul>
                    </nav>
                    <nav class="col-sm-4 col-lg-2 footer-nav">
                        <h3>themes</h3>
                        <ul class="slide">
                            <li><a href="#">Hiking and Camping</a></li>
                            <li><a href="#">Trekking Tours</a></li>
                            <li><a href="#">Jungle Safaris</a></li>
                            <li><a href="#">Bungee Jumping</a></li>
                            <li><a href="#">Wildlife &amp; Polar</a></li>
                            <li><a href="#">Peak Climbing</a></li>
                        </ul>
                    </nav>
                    <nav class="col-sm-4 col-lg-2 footer-nav">
                        <h3>reservation</h3>
                        <ul class="slide">
                            <li><a href="#">Booking Conditions</a></li>
                            <li><a href="#">My Bookings</a></li>
                            <li><a href="#">Refund Policy</a></li>
                            <li><a href="#">Includes &amp; Excludes</a></li>
                            <li><a href="#">Your Responsibilities</a></li>
                            <li><a href="#">Order a Brochure</a></li>
                        </ul>
                    </nav>
                    <nav class="col-sm-4 col-lg-2 footer-nav">
                        <h3>ask Entrada</h3>
                        <ul class="slide">
                            <li><a href="#">Why Entrada?</a></li>
                            <li><a href="#">Ask an Expert</a></li>
                            <li><a href="#">Safety Updates</a></li>
                            <li><a href="#">We Help When...</a></li>
                            <li><a href="#">Personal Matters</a></li>
                        </ul>
                    </nav>
                    <nav class="col-sm-4 col-lg-2 footer-nav last">
                        <h3>contact Entrada</h3>
                        <ul class="slide address-block">
                            <li class="wrap-text"><span class="icon-tel"></span> <a href="tel:02072077878">(020)
                                    72077878</a></li>
                            <li class="wrap-text"><span class="icon-fax"></span> <a href="tel:02088828282">(020)
                                    88828282</a></li>
                            <li class="wrap-text"><span class="icon-email"></span> <a
                                    href="mailto:info@entrada.com">info@entrada.com</a></li>
                            <li><span class="icon-home"></span>
                                <address>707 London Road Isleworth, Middx TW7 7QD</address>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- social wrap -->
                <ul class="social-wrap">
                    <li class="facebook"><a href="#">
                            <span class="icon-facebook"></span>
                            <strong class="txt">Like Us</strong>
                        </a></li>
                    <li class="twitter"><a href="#">
                            <span class="icon-twitter"></span>
                            <strong class="txt">Follow On</strong>
                        </a></li>
                    <li class="google-plus"><a href="#">
                            <span class="icon-google-plus"></span>
                            <strong class="txt">+1 On Google</strong>
                        </a></li>
                    <li class="vimeo"><a href="#">
                            <span class="icon-vimeo"></span>
                            <strong class="txt">Share At</strong>
                        </a></li>
                    <li class="pin"><a href="#">
                            <span class="icon-pin"></span>
                            <strong class="txt">Pin It</strong>
                        </a></li>
                    <li class="dribble"><a href="#">
                            <span class="icon-dribble"></span>
                            <strong class="txt">Dribbble</strong>
                        </a></li>
                </ul>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- copyright -->
                            <strong class="copyright"><i class="fa fa-copyright"></i> Copyright 2016 - Entrada - An
                                Adventure Theme - by <a href="#">Waituk</a></strong>
                        </div>
                        <div class="col-lg-6">
                            <ul class="payment-option">
                                <li>
                                    <img src="img/footer/visa.png" alt="visa">
                                </li>
                                <li>
                                    <img src="img/footer/mastercard.png" height="20" width="33" alt="master card">
                                </li>
                                <li>
                                    <img src="img/footer/paypal.png" height="20" width="72" alt="paypal">
                                </li>
                                <li>
                                    <img src="img/footer/maestro.png" height="20" width="33" alt="maestro">
                                </li>
                                <li>
                                    <img src="img/footer/bank-transfer.png" height="20" width="55" alt="bank transfer">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- scroll to top -->
    <div class="scroll-holder text-center">
        <a href="javascript:" id="scroll-to-top"><i class="icon-arrow-down"></i></a>
    </div>
    <!-- jquery library -->
    <script src="vendors/jquery/jquery-2.1.4.min.js"></script>
    <!-- external scripts -->
    <script src="vendors/bootstrap/javascripts/bootstrap.min.js"></script>
    <script src="vendors/jquery-placeholder/jquery.placeholder.min.js"></script>
    <script src="vendors/match-height/jquery.matchHeight.js"></script>
    <script src="vendors/wow/wow.min.js"></script>
    <script src="vendors/stellar/jquery.stellar.min.js"></script>
    <script src="vendors/validate/jquery.validate.js"></script>
    <script src="vendors/waypoint/waypoints.min.js"></script>
    <script src="vendors/counter-up/jquery.counterup.min.js"></script>
    <script src="vendors/jquery-ui/jquery-ui.min.js"></script>
    <script src="vendors/jQuery-touch-punch/jquery.ui.touch-punch.min.js"></script>
    <script src="vendors/fancybox/jquery.fancybox.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="vendors/jcf/js/jcf.js"></script>
    <script src="vendors/jcf/js/jcf.select.js"></script>
    <script src="vendors/retina/retina.min.js"></script>
    <script src="vendors/bootstrap-datetimepicker-master/dist/js/bootstrap-datepicker.js"></script>
    <!-- mailchimp newsletter subscriber -->
    <script src="js/mailchimp.js"></script>
    <!-- custom script -->
    <script src="js/jquery.main.js"></script>
</body>

</html>