<!DOCTYPE html>
<html>
{% include './blocks/head.twig' %}

<body>
    {% include './blocks/preloader.twig' %}
    <div id="wrapper">
        <div class="page-wrapper">
            {% include './blocks/navbar.twig' %}
            <!-- main banner -->
            <section class="banner banner-inner parallax" data-stellar-background-ratio="0.5" id="about-banner">
                <div class="banner-text">
                    <div class="center-text">
                        <div class="container">
                            <h1>About Us</h1>
                            <strong class="subtitle">The most detailed and modern Adventure theme!</strong>
                            <!-- breadcrumb -->
                            <nav class="breadcrumbs">
                                <ul>
                                    <li><a href="#">HOME</a></li>
                                    <li><span>ABOUT US</span></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </section>
            <!-- main container -->
            <main id="main">
                <!-- content block with article -->
                <div class="content-block bg-white content-center">
                    <div class="container">
                        <header class="content-heading">
                            <h2 class="main-heading">THE ADVENTURE</h2>
                            <strong class="main-subtitle">Mastering the art of perfect adventure for 10+ years in the
                                wild.</strong>
                            <div class="seperator"></div>
                        </header>
                        <div class="row text-center">
                            <div class="col-sm-4 article">
                                <div class="img-wrap1">
                                    <img width="150" src="img/icons/ico01.svg" alt="image description">
                                </div>
                                <div class="description">
                                    <h3>Travel &amp; Tourism</h3>
                                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat
                                        ipsum</p>
                                </div>
                            </div>
                            <div class="col-sm-4 article">
                                <div class="img-wrap1">
                                    <img width="120" src="img/icons/ico02.svg" alt="image description">
                                </div>
                                <div class="description">
                                    <h3>Mission &amp; Values</h3>
                                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat
                                        ipsum</p>
                                </div>
                            </div>
                            <div class="col-sm-4 article">
                                <div class="img-wrap1">
                                    <img width="118" src="img/icons/ico03.svg" alt="image description">
                                </div>
                                <div class="description">
                                    <h3>Sustainable Travel</h3>
                                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat
                                        ipsum</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content block with article -->
                <div class="content-block bg-gray">
                    <div class="container">
                        <header class="content-heading">
                            <h2 class="main-heading">ABOUT ENTRADA</h2>
                            <strong class="main-subtitle">A work of art is above all an adventure of mind!</strong>
                            <div class="seperator"></div>
                        </header>
                        <div class="row">
                            <div class="col-sm-6 description-text">
                                <h3>Best Adventure Template.</h3>
                                <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                    aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,
                                    nec sagittis sem nibh id elit. </p>
                                <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum
                                    velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae
                                    erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora </p>
                            </div>
                            <div class="col-sm-6 description-text">
                                <h3>Awesome Tour Details.</h3>
                                <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                    aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,
                                    nec sagittis sem nibh id elit. </p>
                                <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum
                                    velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae
                                    erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- services block -->
                <div class="services-block has-bg parallax" id="about-service-block">
                    <div class="container">
                        <div class="row db-3-col">
                            <div class="col-sm-4 ico-article wow fadeInUp" data-wow-duration="400ms"
                                data-wow-delay="200ms">
                                <div class="ico-holder">
                                    <span class="icon-hiking"></span>
                                </div>
                                <div class="description">
                                    <strong class="content-title"><a href="#">CAMPING AND HIKING</a></strong>
                                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitu</p>
                                </div>
                            </div>
                            <div class="col-sm-4 ico-article wow fadeInUp" data-wow-duration="400ms"
                                data-wow-delay="300ms">
                                <div class="ico-holder">
                                    <span class="icon-wildlife"></span>
                                </div>
                                <div class="description">
                                    <strong class="content-title"><a href="#">WILDLIFE AND POLAR</a></strong>
                                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitu</p>
                                </div>
                            </div>
                            <div class="col-sm-4 ico-article wow fadeInUp" data-wow-duration="400ms"
                                data-wow-delay="400ms">
                                <div class="ico-holder">
                                    <span class="icon-mountain-biking"></span>
                                </div>
                                <div class="description">
                                    <strong class="content-title"><a href="#">MOUNTAIN BIKING</a></strong>
                                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitu</p>
                                </div>
                            </div>
                            <div class="col-sm-4 ico-article wow fadeInUp" data-wow-duration="400ms"
                                data-wow-delay="500ms">
                                <div class="ico-holder">
                                    <span class="icon-scuba-diving"></span>
                                </div>
                                <div class="description">
                                    <strong class="content-title"><a href="#">SCUBA DIVING</a></strong>
                                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitu</p>
                                </div>
                            </div>
                            <div class="col-sm-4 ico-article wow fadeInUp" data-wow-duration="400ms"
                                data-wow-delay="600ms">
                                <div class="ico-holder">
                                    <span class="icon-jeep"></span>
                                </div>
                                <div class="description">
                                    <strong class="content-title"><a href="#">JUNGLE SAFARI</a></strong>
                                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitu</p>
                                </div>
                            </div>
                            <div class="col-sm-4 ico-article wow fadeInUp" data-wow-duration="400ms"
                                data-wow-delay="700ms">
                                <div class="ico-holder">
                                    <span class="icon-bungee"></span>
                                </div>
                                <div class="description">
                                    <strong class="content-title"><a href="#">BUNGEE JUMPING</a></strong>
                                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitu</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content block with guide info -->
                <section class="content-block guide-sub">
                    <div class="container">
                        <header class="content-heading">
                            <h2 class="main-heading">PEOPLE POWER</h2>
                            <span class="main-subtitle">Our guides are the secret weapon behind our success.</span>
                            <div class="seperator"></div>
                        </header>
                        <div class="row guide-info">
                            <div class="col-sm-6">
                                <div class="description">
                                    <h3>Amazing support for all.</h3>
                                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat
                                        ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
                                        cursus a sit amet mauris. </p>
                                    <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.
                                        Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti
                                        sociosqu ad litora torquent per conubia nostra.</p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-5 progress-holder">
                                <div class="bar-holder">
                                    <strong class="title">ALL ADVENTURE</strong>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="75"
                                            aria-valuemin="0" aria-valuemax="100" id="progress1">
                                            <span class="value">75%</span>
                                        </div>
                                    </div>
                                    <strong class="title">PEAK CLIMBING</strong>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="77"
                                            aria-valuemin="0" aria-valuemax="100" id="progress2">
                                            <span class="value">77%</span>
                                        </div>
                                    </div>
                                    <strong class="title">SCUBA DIVING</strong>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="57"
                                            aria-valuemin="0" aria-valuemax="100" id="progress3">
                                            <span class="value">57%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- step block -->
                <div class="step-block text-center parallax" data-stellar-background-ratio="0.3" id="about-step-block">
                    <div class="container">
                        <blockquote class="normal">
                            <q>“Let us step into the night and pursue that flighty temptress, adventure.”</q>
                        </blockquote>
                    </div>
                </div>
                <!-- service block -->
                <div class="services-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4 col-md-3 ico-article">
                                <div class="ico-holder">
                                    <span class="icon-egypt"></span>
                                </div>
                                <div class="description">
                                    <strong class="content-title">Entrada Histori</strong>
                                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitu</p>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-3 ico-article">
                                <div class="ico-holder">
                                    <span class="icon-person"></span>
                                </div>
                                <div class="description">
                                    <strong class="content-title">Core Values</strong>
                                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitu</p>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-3 ico-article">
                                <div class="ico-holder">
                                    <span class="icon-plant"></span>
                                </div>
                                <div class="description">
                                    <strong class="content-title">Sustainable Travel</strong>
                                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitu</p>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-3 ico-article">
                                <div class="ico-holder">
                                    <span class="icon-bulb"></span>
                                </div>
                                <div class="description">
                                    <strong class="content-title">Innovative Adventure</strong>
                                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitu</p>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-3 ico-article">
                                <div class="ico-holder">
                                    <span class="icon-cup"></span>
                                </div>
                                <div class="description">
                                    <strong class="content-title">Awards &amp; Accolades</strong>
                                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitu</p>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-3 ico-article">
                                <div class="ico-holder">
                                    <span class="icon-locals"></span>
                                </div>
                                <div class="description">
                                    <strong class="content-title">Work with Locals</strong>
                                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitu</p>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-3 ico-article">
                                <div class="ico-holder">
                                    <span class="icon-foot-step"></span>
                                </div>
                                <div class="description">
                                    <strong class="content-title">Green Adventures</strong>
                                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitu</p>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-3 ico-article">
                                <div class="ico-holder">
                                    <span class="icon-person-budget"></span>
                                </div>
                                <div class="description">
                                    <strong class="content-title">Green Tourism</strong>
                                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitu</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- partner list -->
                <article class="partner-block bg-gray">
                    <div class="container">
                        <header class="content-heading">
                            <h2 class="main-heading">Partner</h2>
                            <span class="main-subtitle">People who always support and endorse our good work</span>
                            <div class="seperator"></div>
                        </header>
                        <div class="partner-list" id="partner-slide">
                            <div class="partner">
                                <a href="#">
                                    <img width="130" src="img/logos/logo-travelagancy.svg" alt="image description">
                                    <img class="hover" width="130" src="img/logos/logo-travelagancy-hover.svg"
                                        alt="image description">
                                </a>
                            </div>
                            <div class="partner">
                                <a href="#">
                                    <img width="130" src="img/logos/logo-around-world.svg" alt="image description">
                                    <img class="hover" width="130" src="img/logos/logo-around-world-hover.svg"
                                        alt="image description">
                                </a>
                            </div>
                            <div class="partner">
                                <a href="#">
                                    <img width="130" src="img/logos/logo-tourist.svg" alt="image description">
                                    <img class="hover" width="130" src="img/logos/logo-tourist-hover.svg"
                                        alt="image description">
                                </a>
                            </div>
                            <div class="partner">
                                <a href="#">
                                    <img width="130" src="img/logos/logo-adventure.svg" alt="image description">
                                    <img class="hover" width="130" src="img/logos/logo-adventure-hover.svg"
                                        alt="image description">
                                </a>
                            </div>
                            <div class="partner">
                                <a href="#">
                                    <img width="130" src="img/logos/logo-around-world.svg" alt="image description">
                                    <img class="hover" width="130" src="img/logos/logo-around-world-hover.svg"
                                        alt="image description">
                                </a>
                            </div>
                            <div class="partner">
                                <a href="#">
                                    <img width="130" src="img/logos/logo-travelagancy.svg" alt="image description">
                                    <img class="hover" width="130" src="img/logos/logo-travelagancy-hover.svg"
                                        alt="image description">
                                </a>
                            </div>
                            <div class="partner">
                                <a href="#">
                                    <img width="130" src="img/logos/logo-adventure.svg" alt="image description">
                                    <img class="hover" width="130" src="img/logos/logo-adventure-hover.svg"
                                        alt="image description">
                                </a>
                            </div>
                            <div class="partner">
                                <a href="#">
                                    <img width="130" src="img/logos/logo-around-world.svg" alt="image description">
                                    <img class="hover" width="130" src="img/logos/logo-around-world-hover.svg"
                                        alt="image description">
                                </a>
                            </div>
                            <div class="partner">
                                <a href="#">
                                    <img width="130" src="img/logos/logo-travelagancy.svg" alt="image description">
                                    <img class="hover" width="130" src="img/logos/logo-travelagancy-hover.svg"
                                        alt="image description">
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
            </main>
        </div>
        {% include './blocks/footer.twig' %}
    </div>
    {% include './blocks/scripts.twig' %}
</body>

</html>