<!DOCTYPE html>
<html>
{% include './blocks/head.twig' %}

<body>
    {% include './blocks/preloader.twig' %}
    <div id="wrapper">
        <div class="page-wrapper">
            {% include './blocks/navbar.twig' %}
            <!-- main banner -->
            <section class="banner banner-inner parallax" data-stellar-background-ratio="0.5" id="list-view-normal">
                <div class="banner-text">
                    <div class="center-text">
                        <div class="container">
                            <h1>Our accommodations</h1>
                            <strong class="subtitle">The most detailed and modern Adventure theme!</strong>
                        </div>
                    </div>
                </div>
            </section>

            <!-- main container -->
            <main id="main">
                <!-- content block -->
                <div class="content-block content-sub">
                    <div class="container">
                        <!-- list view -->
                        <div class="content-holder list-view">
                            <article class="article">
                                <div class="thumbnail">
                                    <div class="img-wrap">
                                        <img src="img/listing/img-35.jpg" height="240" width="350"
                                            alt="image description">
                                    </div>
                                    <div class="description">
                                        <div class="col-left">
                                            <header class="heading">
                                                <h3><a href="#">Deluxe Igloo</a></h3>
                                                <div class="info-day">2 p.</div>
                                            </header>
                                            <p>Deluxe accommodation in a glass igloo featuring a king size bed.
                                            </p>

                                            <footer class="info-footer">
                                                <ul class="ico-list">
                                                    <li class="pop-opener">
                                                        <span class="icon-beach"></span>
                                                        <div class="popup">
                                                            Beach
                                                        </div>
                                                    </li>
                                                    <li class="pop-opener">
                                                        <span class="icon-boat"></span>
                                                        <div class="popup">
                                                            Boat
                                                        </div>
                                                    </li>
                                                    <li class="pop-opener">
                                                        <span class="icon-food-wine"></span>
                                                        <div class="popup">
                                                            Food Wine
                                                        </div>
                                                    </li>
                                                    <li class="pop-opener">
                                                        <span class="icon-water"></span>
                                                        <div class="popup">
                                                            Water
                                                        </div>
                                                    </li>
                                                </ul>
                                                <ul class="ico-action">
                                                    <li>
                                                        <a href="#"><span class="icon-share"></span></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><span class="icon-favs"></span></a>
                                                    </li>
                                                </ul>
                                            </footer>
                                        </div>
                                        <aside class="info-aside">
                                            <span class="price">from <span>$2749</span></span>
                                            <div class="activity-level">
                                                <div class="ico">
                                                    <span class="icon-level2"></span>
                                                </div>
                                                <span class="text">EASY - LEISURLY</span>
                                            </div>
                                            <a href="/deluxeigloo" class="btn btn-default">Read More</a>
                                        </aside>
                                    </div>
                                </div>
                            </article>
                            <article class="article">
                                <div class="thumbnail">
                                    <div class="img-wrap">
                                        <img src="img/listing/img-35.jpg" height="240" width="350"
                                            alt="image description">
                                    </div>
                                    <div class="description">
                                        <div class="col-left">
                                            <header class="heading">
                                                <h3><a href="#">Family Igloo</a></h3>
                                                <div class="info-day">4 p.</div>
                                            </header>
                                            <p>Family accommodation in a glass igloo featuring a king size with an extra
                                                2 beds.
                                            </p>

                                            <footer class="info-footer">
                                                <ul class="ico-list">
                                                    <li class="pop-opener">
                                                        <span class="icon-beach"></span>
                                                        <div class="popup">
                                                            Beach
                                                        </div>
                                                    </li>
                                                    <li class="pop-opener">
                                                        <span class="icon-boat"></span>
                                                        <div class="popup">
                                                            Boat
                                                        </div>
                                                    </li>
                                                    <li class="pop-opener">
                                                        <span class="icon-food-wine"></span>
                                                        <div class="popup">
                                                            Food Wine
                                                        </div>
                                                    </li>
                                                    <li class="pop-opener">
                                                        <span class="icon-water"></span>
                                                        <div class="popup">
                                                            Water
                                                        </div>
                                                    </li>
                                                </ul>
                                                <ul class="ico-action">
                                                    <li>
                                                        <a href="#"><span class="icon-share"></span></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><span class="icon-favs"></span></a>
                                                    </li>
                                                </ul>
                                            </footer>
                                        </div>
                                        <aside class="info-aside">
                                            <span class="price">from <span>$2749</span></span>
                                            <div class="activity-level">
                                                <div class="ico">
                                                    <span class="icon-level2"></span>
                                                </div>
                                                <span class="text">EASY - LEISURLY</span>
                                            </div>
                                            <a href="/familyigloo" class="btn btn-default">Read More</a>
                                        </aside>
                                    </div>
                                </div>
                            </article>
                            <article class="article">
                                <div class="thumbnail">
                                    <div class="img-wrap">
                                        <img src="img/listing/img-35.jpg" height="240" width="350"
                                            alt="image description">
                                    </div>
                                    <div class="description">
                                        <div class="col-left">
                                            <header class="heading">
                                                <h3><a href="#">Floating Igloo</a></h3>
                                                <div class="info-day">2 p.</div>
                                            </header>
                                            <p>A small igloo on the lake or ice with 2 sleeping bags.
                                            </p>

                                            <footer class="info-footer">
                                                <ul class="ico-list">
                                                    <li class="pop-opener">
                                                        <span class="icon-beach"></span>
                                                        <div class="popup">
                                                            Beach
                                                        </div>
                                                    </li>
                                                    <li class="pop-opener">
                                                        <span class="icon-boat"></span>
                                                        <div class="popup">
                                                            Boat
                                                        </div>
                                                    </li>
                                                    <li class="pop-opener">
                                                        <span class="icon-food-wine"></span>
                                                        <div class="popup">
                                                            Food Wine
                                                        </div>
                                                    </li>
                                                    <li class="pop-opener">
                                                        <span class="icon-water"></span>
                                                        <div class="popup">
                                                            Water
                                                        </div>
                                                    </li>
                                                </ul>
                                                <ul class="ico-action">
                                                    <li>
                                                        <a href="#"><span class="icon-share"></span></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><span class="icon-favs"></span></a>
                                                    </li>
                                                </ul>
                                            </footer>
                                        </div>
                                        <aside class="info-aside">
                                            <span class="price">from <span>$2749</span></span>
                                            <div class="activity-level">
                                                <div class="ico">
                                                    <span class="icon-level2"></span>
                                                </div>
                                                <span class="text">EASY - LEISURLY</span>
                                            </div>
                                            <a href="/floatingigloo" class="btn btn-default">Read More</a>
                                        </aside>
                                    </div>
                                </div>
                            </article>
                            <article class="article">
                                <div class="thumbnail">
                                    <div class="img-wrap">
                                        <img src="img/listing/img-35.jpg" height="240" width="350"
                                            alt="image description">
                                    </div>
                                    <div class="description">
                                        <div class="col-left">
                                            <header class="heading">
                                                <h3><a href="#">Tipi Tent</a></h3>
                                                <div class="info-day">2 p.</div>
                                            </header>
                                            <p>Accommodation in a Tipi tent featuring one double bed and an air
                                                conditioning unit. Tipi tents also feature shared
                                                outdoor picnic tables and shared barbecue spot. Tipi tents are separated
                                                by a wooden fence and a thick hedge, ensuring
                                                complete privacy and comfort during your stay.<br><br>

                                                Bathrooms and showers are located in separate building close by to the
                                                tents.
                                            </p>

                                            <footer class="info-footer">
                                                <ul class="ico-list">
                                                    <li class="pop-opener">
                                                        <span class="icon-beach"></span>
                                                        <div class="popup">
                                                            Beach
                                                        </div>
                                                    </li>
                                                    <li class="pop-opener">
                                                        <span class="icon-boat"></span>
                                                        <div class="popup">
                                                            Boat
                                                        </div>
                                                    </li>
                                                    <li class="pop-opener">
                                                        <span class="icon-food-wine"></span>
                                                        <div class="popup">
                                                            Food Wine
                                                        </div>
                                                    </li>
                                                    <li class="pop-opener">
                                                        <span class="icon-water"></span>
                                                        <div class="popup">
                                                            Water
                                                        </div>
                                                    </li>
                                                </ul>
                                                <ul class="ico-action">
                                                    <li>
                                                        <a href="#"><span class="icon-share"></span></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><span class="icon-favs"></span></a>
                                                    </li>
                                                </ul>
                                            </footer>
                                        </div>
                                        <aside class="info-aside">
                                            <span class="price">from <span>$2749</span></span>
                                            <div class="activity-level">
                                                <div class="ico">
                                                    <span class="icon-level2"></span>
                                                </div>
                                                <span class="text">EASY - LEISURLY</span>
                                            </div>
                                            <a href="/tipitent" class="btn btn-default">Read More</a>
                                        </aside>
                                    </div>
                                </div>
                            </article>
                            <article class="article">
                                <div class="thumbnail">
                                    <div class="img-wrap">
                                        <img src="img/listing/img-35.jpg" height="240" width="350"
                                            alt="image description">
                                    </div>
                                    <div class="description">
                                        <div class="col-left">
                                            <header class="heading">
                                                <h3><a href="#">Rooftop Tent</a></h3>
                                                <div class="info-day">2 p.</div>
                                            </header>
                                            <p>Spend your night in the woods in a tent on top of a Suzuki Jimny, Nissan
                                                Terrano or Daihatsu Feroza.
                                                Use our physical map to guide yourself around through amazing places
                                                this region has to offer.
                                                – Gas included (100km per day).
                                                – Guide excluded.
                                                Want to sleep in an igloo instead and experience the 4×4 Safari as an
                                                activity? Check our activity packages when booking
                                                an Igloo accommodation.
                                            </p>

                                            <footer class="info-footer">
                                                <ul class="ico-list">
                                                    <li class="pop-opener">
                                                        <span class="icon-beach"></span>
                                                        <div class="popup">
                                                            Beach
                                                        </div>
                                                    </li>
                                                    <li class="pop-opener">
                                                        <span class="icon-boat"></span>
                                                        <div class="popup">
                                                            Boat
                                                        </div>
                                                    </li>
                                                    <li class="pop-opener">
                                                        <span class="icon-food-wine"></span>
                                                        <div class="popup">
                                                            Food Wine
                                                        </div>
                                                    </li>
                                                    <li class="pop-opener">
                                                        <span class="icon-water"></span>
                                                        <div class="popup">
                                                            Water
                                                        </div>
                                                    </li>
                                                </ul>
                                                <ul class="ico-action">
                                                    <li>
                                                        <a href="#"><span class="icon-share"></span></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><span class="icon-favs"></span></a>
                                                    </li>
                                                </ul>
                                            </footer>
                                        </div>
                                        <aside class="info-aside">
                                            <span class="price">from <span>$2749</span></span>
                                            <div class="activity-level">
                                                <div class="ico">
                                                    <span class="icon-level2"></span>
                                                </div>
                                                <span class="text">EASY - LEISURLY</span>
                                            </div>
                                            <a href="/rooftoptent" class="btn btn-default">Read More</a>
                                        </aside>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <!-- recent block -->
                <aside class="recent-block recent-list recent-wide-thumbnail">
                    <div class="container">
                        <h2 class="text-center text-uppercase">Accommodation</h2>
                        <div class="row">
                            <article class="col-sm-6 col-md-3 article">
                                <div class="thumbnail">
                                    <h3 class="no-space"><a href="#">Everest Basecamp Trek</a></h3>
                                    <strong class="info-title">Everest Region, Nepal</strong>
                                    <div class="img-wrap">
                                        <img src="img/listing/img-31.jpg" height="210" width="250"
                                            alt="image description">
                                    </div>
                                    <footer>
                                        <div class="sub-info">
                                            <span>5 Days</span>
                                            <span>$299</span>
                                        </div>
                                        <ul class="ico-list">
                                            <li class="pop-opener">
                                                <a href="#">
                                                    <span class="icon-hiking"></span>
                                                    <span class="popup">
                                                        Hiking
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="pop-opener">
                                                <a href="#">
                                                    <span class="icon-mountain"></span>
                                                    <span class="popup">
                                                        Mountain
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="pop-opener">
                                                <a href="#">
                                                    <span class="icon-level5"></span>
                                                    <span class="popup">
                                                        Level 5
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </footer>
                                </div>
                            </article>
                            <article class="col-sm-6 col-md-3 article">
                                <div class="thumbnail">
                                    <h3 class="no-space"><a href="#">Everest Basecamp Trek</a></h3>
                                    <strong class="info-title">Everest Region, Nepal</strong>
                                    <div class="img-wrap">
                                        <img src="img/listing/img-32.jpg" height="210" width="250"
                                            alt="image description">
                                    </div>
                                    <footer>
                                        <div class="sub-info">
                                            <span>5 Days</span>
                                            <span>$299</span>
                                        </div>
                                        <ul class="ico-list">
                                            <li class="pop-opener">
                                                <a href="#">
                                                    <span class="icon-hiking"></span>
                                                    <span class="popup">
                                                        Hiking
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="pop-opener">
                                                <a href="#">
                                                    <span class="icon-mountain"></span>
                                                    <span class="popup">
                                                        Mountain
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="pop-opener">
                                                <a href="#">
                                                    <span class="icon-level5"></span>
                                                    <span class="popup">
                                                        Level 5
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </footer>
                                </div>
                            </article>
                            <article class="col-sm-6 col-md-3 article">
                                <div class="thumbnail">
                                    <h3 class="no-space"><a href="#">Everest Basecamp Trek</a></h3>
                                    <strong class="info-title">Everest Region, Nepal</strong>
                                    <div class="img-wrap">
                                        <img src="img/listing/img-33.jpg" height="210" width="250"
                                            alt="image description">
                                    </div>
                                    <footer>
                                        <div class="sub-info">
                                            <span>5 Days</span>
                                            <span>$299</span>
                                        </div>
                                        <ul class="ico-list">
                                            <li class="pop-opener">
                                                <a href="#">
                                                    <span class="icon-hiking"></span>
                                                    <span class="popup">
                                                        Hiking
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="pop-opener">
                                                <a href="#">
                                                    <span class="icon-mountain"></span>
                                                    <span class="popup">
                                                        Mountain
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="pop-opener">
                                                <a href="#">
                                                    <span class="icon-level5"></span>
                                                    <span class="popup">
                                                        Level 5
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </footer>
                                </div>
                            </article>
                            <article class="col-sm-6 col-md-3 article">
                                <div class="thumbnail">
                                    <h3 class="no-space"><a href="#">Everest Basecamp Trek</a></h3>
                                    <strong class="info-title">Everest Region, Nepal</strong>
                                    <div class="img-wrap">
                                        <img src="img/listing/img-34.jpg" height="210" width="250"
                                            alt="image description">
                                    </div>
                                    <footer>
                                        <div class="sub-info">
                                            <span>5 Days</span>
                                            <span>$299</span>
                                        </div>
                                        <ul class="ico-list">
                                            <li class="pop-opener">
                                                <a href="#">
                                                    <span class="icon-hiking"></span>
                                                    <span class="popup">
                                                        Hiking
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="pop-opener">
                                                <a href="#">
                                                    <span class="icon-mountain"></span>
                                                    <span class="popup">
                                                        Mountain
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="pop-opener">
                                                <a href="#">
                                                    <span class="icon-level5"></span>
                                                    <span class="popup">
                                                        Level 5
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </footer>
                                </div>
                            </article>
                        </div>
                    </div>
                </aside>
            </main>
        </div>
        {% include './blocks/footer.twig' %}
    </div>
    {% include './blocks/scripts.twig' %}
</body>

</html>