<!DOCTYPE html>
{% include './blocks/head.twig' %}

<body>
    {% include './blocks/preloader.twig' %}
    <div id="wrapper">
        <div class="page-wrapper">
            {% include './blocks/navbar.twig' %}
            <!-- main banner -->
            <section class="banner banner-inner parallax" data-stellar-background-ratio="0.5" id="list-view-normal">
                <div class="banner-text">
                    <div class="text-center">
                        <div class="container">
                            <h1>Make your stay unique.</h1>
                            <strong class="subtitle">sub text</strong>
                            {% include './blocks/checkavailability.twig' %}
                        </div>
                    </div>
                </div>
            </section>

            <!-- main container -->
            <main id="main">
                <aside class="recent-block recent-list recent-wide-thumbnail">
                    <div class="container">
                        <h2 class="text-center text-uppercase">Accommodation</h2>
                        <div class="row">
                            <article class="col-sm-6 col-md-4 article">
                                <a href="/deluxeigloo">
                                    <div class="thumbnail">
                                        <h3 class="no-space">Deluxe Igloo</h3>
                                        <strong class="info-title">2 pers. Breakfast Included</strong>
                                        <div class="img-wrap">
                                            <img src="img/accommodation/deluxeigloo/view3.png"
                                                style="height:250px;width:250px;" height="250" width="250"
                                                alt="image description">
                                        </div>
                                        <footer>
                                            <div class="sub-info" style="width:100%;">
                                                <span style="float:left;">Summer per night from<br>Winter per night
                                                    from</span>
                                                <span style="float:right;">€185<br>€435</span>

                                            </div>
                                        </footer>
                                    </div>
                                </a>
                            </article>
                            <article class="col-sm-6 col-md-4 article"><a href="/familyigloo">
                                    <div class="thumbnail">
                                        <h3 class="no-space">Family Igloo</h3>
                                        <strong class="info-title">4 pers. Breakfast Included</strong>
                                        <div class="img-wrap">
                                            <img src="img/accommodation/deluxeigloo/1.jpg"
                                                style="height:250px;width:250px;" height="250" width="250"
                                                alt="image description">
                                        </div>
                                        <footer>
                                            <div class="sub-info" style="width:100%;">
                                                <span style="float:left;">Summer per night from<br>Winter per night
                                                    from</span>
                                                <span style="float:right;">€350<br>€685</span>
                                            </div>
                                        </footer>
                                    </div>
                                </a>
                            </article>
                            <article class="col-sm-6 col-md-4 article"><a href="/floatingigloo">
                                    <div class="thumbnail">
                                        <h3 class="no-space">Floating Igloo</h3>
                                        <strong class="info-title">2 pers. Breakfast Included</strong>
                                        <div class="img-wrap">
                                            <img src="img/accommodation/floatingigloo/exterior2.png"
                                                style="height:250px;width:250px;" height="250" width="250"
                                                alt="image description">
                                        </div>
                                        <footer>
                                            <div class="sub-info" style="width:100%;">
                                                <span style="float:left;">per night from</span>
                                                <span style="float:right;">€250</span>

                                            </div>
                                        </footer>
                                    </div>
                                </a>
                            </article>

                        </div>
                        <div class="row" style="margin-top:25px;">
                            <article class="col-sm-6 col-md-4 article"><a href="/tipitent">
                                    <div class="thumbnail">
                                        <h3 class="no-space">Tipi Tent</h3>
                                        <strong class="info-title">2 pers. Breakfast Included</strong>
                                        <div class="img-wrap">
                                            <img src="img/accommodation/tipi/exterior1.jpg"
                                                style="height:250px;width:250px;" height="250" width="250"
                                                alt="image description">
                                        </div>
                                        <footer>
                                            <div class="sub-info" style="width:100%;">
                                                <span style="float:left;">per night from</span>
                                                <span style="float:right;">€145</span>

                                            </div>
                                        </footer>
                                    </div>
                                </a>
                            </article>

                            <article class="col-sm-6 col-md-4 article"><a href="/jimnytentbox">
                                    <div class="thumbnail">
                                        <h3 class="no-space">Jimny + Tentbox</h3>
                                        <strong class="info-title">2 pers. 250KM Included</strong>
                                        <div class="img-wrap">
                                            <img src="img/accommodation/jimny/exterior1.png"
                                                style="height:250px;width:250px;" height="250" width="250"
                                                alt="image description">
                                        </div>
                                        <footer>
                                            <div class="sub-info" style="width:100%;">
                                                <span style="float:left;">per day from <br>per week from</span>
                                                <span style="float:right;">€200<br>€1270</span>
                                            </div>
                                        </footer>
                                    </div>
                                </a>
                            </article>
                            <article class="col-sm-6 col-md-4 article"><a href="/landrovertentbox">
                                    <div class="thumbnail">
                                        <h3 class="no-space">Landrover + Tentbox</h3>
                                        <strong class="info-title">2 pers. 250KM Included</strong>
                                        <div class="img-wrap">
                                            <img src="img/accommodation/comingsoon.png"
                                                style="height:250px;width:250px;" height="250" width="250"
                                                alt="image description">
                                        </div>
                                        <footer>
                                            <div class="sub-info" style="width:100%;">
                                                <span style="float:left;">per day from <br>per week from</span>
                                                <span style="float:right;">€200<br>€1270</span>
                                            </div>
                                        </footer>
                                    </div>
                                </a>
                            </article>
                            <article class="col-sm-6 col-md-4 article"><a href="/wagontentbox">
                                    <div class="thumbnail">
                                        <h3 class="no-space">Explorer Wagon with Tentbox</h3>
                                        <strong class="info-title">2 pers</strong>
                                        <div class="img-wrap">
                                            <img src="img/accommodation/comingsoon.png"
                                                style="height:250px;width:250px;" height="250" width="250"
                                                alt="image description">
                                        </div>
                                        <footer>
                                            <div class="sub-info" style="width:100%;">
                                                <span style="float:left;">per day from <br>per week from</span>
                                                <span style="float:right;">€100<br>€600</span>

                                            </div>
                                        </footer>
                                    </div>
                                </a>
                            </article>

                            {% include './blocks/modals.twig' %}
                        </div>
                    </div>
                </aside>
            </main>
        </div>
        {% include './blocks/footer.twig' %}
    </div>
    {% include './blocks/scripts.twig' %}
</body>

</html>