<!DOCTYPE html>
<html>
{% include './blocks/head.twig' %}

<body>
    {% include './blocks/preloader.twig' %}
    <div id="wrapper">
        <div class="page-wrapper">
            {% include './blocks/navbar.twig' %}
            <!-- main banner -->
            <section class="banner banner-inner parallax" data-stellar-background-ratio="0.5" id="list-view-normal">
                <div class="banner-text">
                    <div class="text-center">
                        <div class="container">
                            <h1>Contact Us</h1>
                        </div>
                    </div>
                </div>
            </section>
            <!-- main container -->
            <main id="main">
                <!-- main contact information block -->
                <div class="content-block bg-white">
                    <div class="container">
                        <header class="content-heading">
                            <h2 class="main-heading">get in touch</h2>
                            <strong class="main-subtitle">Contact us by email, phone or through our web form
                                below.</strong>
                            <div class="seperator"></div>
                        </header>
                        <div class="contact-info row">
                            <div class="col-sm-6">
                                <span class="tel has-border">
                                    <span class="icon-tel-big"></span>
                                    <a href="tel:0046761009111">+46 76 100 9111</a>
                                </span>
                            </div>
                            <div class="col-sm-6">
                                <span class="tel has-border bg-blue">
                                    <span class="icon-email"></span>
                                    <a href="mailto:hello@voyagerpark.se">hello@voyagerpark.se</a>
                                </span>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6 wow fadeInLeft">
                                <!-- main contact form -->
                                <form class="contact-form has-border" id="contact_form" action="#">
                                    <fieldset>
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <strong class="form-title"><label for="fname">First
                                                        name</label></strong>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="input-wrap">
                                                    <input type="text" class="form-control" id="fname" name="fname">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <strong class="form-title"><label for="lname">Last name</label></strong>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="input-wrap">
                                                    <input type="text" class="form-control" id="lname" name="lname">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <strong class="form-title"><label for="con_email">Email</label></strong>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="input-wrap">
                                                    <input type="email" class="form-control" id="con_email"
                                                        name="con_email">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <strong class="form-title"><label for="con_phone">Phone
                                                        number</label></strong>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="input-wrap">
                                                    <input type="text" class="form-control" id="con_phone"
                                                        name="con_phone">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <strong class="form-title"><label
                                                        for="con_country">Country</label></strong>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="input-wrap">
                                                    <input type="text" class="form-control" id="con_country"
                                                        name="con_country">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <strong class="form-title"><label
                                                        for="con_message">Message</label></strong>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="input-wrap">
                                                    <textarea cols="30" rows="10" class="form-control" id="con_message"
                                                        name="con_message"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group btn-holder">
                                            <div class="col-sm-4">&nbsp;</div>
                                            <div class="col-sm-8">
                                                <div class="input-wrap">
                                                    <input type="submit" id="btn_sent" value="Send enquiry"
                                                        class="btn btn-white">
                                                    <p id="error_message"> </p>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="col-md-6 map-col-main wow fadeInRight">
                                <!-- google map  -->
                                <div class="map-holder">
                                    <div class="mapouter">
                                        <div class="gmap_canvas"><iframe width="600" height="670" id="gmap_canvas"
                                                src="https://maps.google.com/maps?q=voyager%20park%20backsj%C3%B6n&t=&z=15&ie=UTF8&iwloc=&output=embed"
                                                frameborder="0" scrolling="no" marginheight="0"
                                                marginwidth="0"></iframe><a
                                                href="https://www.whatismyip-address.com/divi-discount/"></a><br>
                                            <style>
                                                .mapouter {
                                                    position: relative;
                                                    text-align: right;
                                                    height: 670px;
                                                    width: 600px;
                                                }
                                            </style>
                                            <style>
                                                .gmap_canvas {
                                                    overflow: hidden;
                                                    background: none !important;
                                                    height: 670px;
                                                    width: 600px;
                                                }
                                            </style>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        {% include './blocks/footer.twig' %}
    </div>
    {% include './blocks/scripts.twig' %}
</body>

</html>