<!DOCTYPE html>
{% include './blocks/head.twig' %}

<body>
    {% include './blocks/preloader.twig' %}
    <div id="wrapper">
        <div class="page-wrapper">
            <!-- main container -->
            <main id="main">
                {% include './blocks/navbar-accommodation.twig' %}
                <!-- main tour information -->
                <section class="container-fluid trip-info">
                    <div class="same-height two-columns row">
                        {% include './images/deluxeigloo.twig' %}
                        <div class="height col-md-6 text-col" style="margin-top:50px;">

                            <div class="holder">
                                <h1 class="small-size">Deluxe Igloo</h1>
                                <p><strong>Max 2 persons</strong></p>
                                <div class="description">
                                    <p>A deluxe glass igloo accommodation featuring a kingsize bed with several
                                        amenities
                                        such as a coffee maker, waterboiler and a refrigerator.<br>
                                    </p>
                                    <strong class="title">Included</strong>
                                    <p>Bed linnen<br>Towels<br>Breakfast</p>
                                </div>
                                <div class="price">
                                    <div class="col-md-6">
                                        <h4><strong>Summer</strong></h4>
                                        <p>€ 185</p>
                                        <p>per night</p>
                                    </div>
                                    <div class="col-md-6">
                                        <h4><strong>Winter</strong></h4>
                                        <p>€ 435</p>
                                        <p>per night</p>
                                    </div>
                                </div>
                                {% include './blocks/booknow.twig' %}
                                {% include './blocks/modals.twig' %}
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        {% include './blocks/footer.twig' %}
    </div>
    {% include './blocks/scripts.twig' %}
</body>

</html>