<!DOCTYPE html>

{% include './blocks/head.twig' %}

<body>
    <div class="preloader" id="pageLoad">
        <div class="holder">
            <div class="coffee_cup"></div>
        </div>
    </div>
    <!-- main wrapper -->
    <div id="wrapper">
        <div class="page-wrapper">
            {% include './blocks/navbar.twig' %}
            <!-- main banner -->
            <section class="banner banner-home">
                <div class="banner-image">
                    <div class="banner-video has-overlay">
                        <video src="videos/video-3.mp4" autoplay muted loop></video>
                    </div>
                    <div class="banner-text banner-caption-s1">
                        <div class="center-text">
                            <h1><span>Voyager Park</span> Expeditions</h1>
                            <strong class="banner-subtitle">Explore the North</strong>
                        </div>
                    </div>
                </div>
            </section>
            <!-- main container -->
            <main id="main">
                <section class="content-block bg-white">
                    <div class="container">
                        <header class="content-heading">
                            <h2 class="main-heading">EXPEDITIONS</h2>
                            <p class="main-subtitle">Embark on pre-planned expeditions in off-road vehicle equipped with
                                cozy rooftop tent and premium thermal sleeping bags.<br><br>
                                Visit various cultural and architectural landmarks and wonders of nature.
                                <br>Expeditions
                                are of various durations and only
                                available in specific time periods. <br><br>Accommodation in our Tipi Tents included on
                                the days
                                of staying in vicinity of
                                Voyager Park. <br><br>Passengers are insured during duration of the trip and cars have
                                roadside
                                assistance package in case of
                                emergencies. <br>Terms and conditions apply.
                            </p>
                            <div class="seperator"></div>
                        </header>

                    </div>
                </section>
                <!-- couter block -->
                <aside class="count-block">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-6 col-md-3 block-1">
                                <div class="holder">
                                    <span class="icon icon-step"></span>
                                    <span class="info"><span class="counter">8702</span></span>
                                    <span class="txt">WILDLIFE SPECIES</span>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-3 block-2">
                                <div class="holder">
                                    <span class="icon icon-fish-jumping"></span>
                                    <span class="info"><span class="counter">378</span></span>
                                    <span class="txt">ARCTIC EXPERIENCES</span>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-3 block-3">
                                <div class="holder">
                                    <span class="icon icon-tree"></span>
                                    <span class="info"><span class="counter">377</span></span>
                                    <span class="txt">NATIONAL PARKS</span>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-3 block-4">
                                <div class="holder">
                                    <span class="icon icon-duration"></span>
                                    <span class="info"><span class="counter">8973</span></span>
                                    <span class="txt">DAYS IN THE WILD</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
                <!-- article list holder -->
                <div class="content-block content-spacing">
                    <div class="container">
                        <header class="content-heading">
                            <h2 class="main-heading">Our Expeditions</h2>
                            <span class="main-subtitle">We have a unique way of meeting your adventurous
                                expectations!</span>
                            <div class="seperator"></div>
                        </header>
                    </div>
                </div>

                <!-- featured adventure content -->
                <div class="featured-content adventure-holder">
                    <div class="container-fluid">
                        <div class="row same-height row-expeditions">
                            <div class="col-md-6 image height wow slideInLeft">
                                <div class="bg-stretch">
                                    <img src="img/expeditions/heimdall.png" height="627" width="960"
                                        alt="image description">
                                </div>
                            </div>
                            <div class="col-md-6 text-block height wow slideInRight">
                                <div class="centered">
                                    <h2 class="intro-heading">Heimdall Expedition</h2>
                                    <p class="intro">placeholder text
                                    </p>
                                    <a href="/heimdall-expedition" class="btn btn-primary btn-lg">explore</a>
                                </div>
                            </div>
                        </div>
                        <div class="row same-height row-expeditions">
                            <div class="col-md-6 image height wow slideInRight">
                                <div class="bg-stretch">
                                    <img src="img/expeditions/heimdall.png" height="627" width="960"
                                        alt="image description">
                                </div>
                            </div>
                            <div class="col-md-6 text-block height wow slideInLeft">
                                <div class="centered">
                                    <h2 class="intro-heading">Lapland Expedition</h2>
                                    <p class="intro">placeholder text
                                    </p>
                                    <a href="/lapland-expedition" class="btn btn-primary btn-lg">explore</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- featured adventure content -->
                <div class="featured-content adventure-holder">
                    <div class="container-fluid">
                        <div class="row same-height row-expeditions">
                            <div class="col-md-6 image height wow slideInLeft">
                                <div class="bg-stretch"><img src="img/expeditions/heimdall.png" height="627" width="960"
                                        alt="image description">
                                </div>
                            </div>
                            <div class="col-md-6 text-block height wow slideInRight">
                                <div class="centered">
                                    <h2 class="intro-heading">NorthCape Expedition</h2>
                                    <p class="intro">placeholder text
                                    </p>
                                    <a href="/northcape-expedition" class="btn btn-primary btn-lg">explore</a>
                                </div>
                            </div>
                        </div>
                        <div class="row same-height row-expeditions">
                            <div class="col-md-6 image height wow slideInRight">
                                <div class="bg-stretch"><img src="img/expeditions/heimdall.png" height="627" width="960"
                                        alt="image description">
                                </div>
                            </div>
                            <div class="col-md-6 text-block height wow slideInLeft">
                                <div class="centered">
                                    <h2 class="intro-heading">Aurora Expedition</h2>
                                    <p class="intro">placeholder text
                                    </p>
                                    <a href="/aurora-expedition" class="btn btn-primary btn-lg">explore</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- content block with guide info -->
                <section class="content-block guide-sub guide-add bg-white">
                    <div class="container">
                        <header class="content-heading">
                            <h2 class="main-heading">MEET THE GUIDES</h2>
                            <span class="main-subtitle">intro text about guide</span>
                            <div class="seperator"></div>
                        </header>
                        <div class="content-holder">
                            <div class="row">
                                <div class="col-sm-6 col-md-3 img-article">
                                    <div class="holder">
                                        <div class="img-wrap">
                                            <img src="img/listing/img-13.jpg" height="436" width="370"
                                                alt="image description">
                                            <ul class="social-networks" style="color:white;">
                                                <p>text about guide</p>
                                            </ul>
                                        </div>
                                        <div class="caption">
                                            <h3 class="small-space">Nayiem Willems</h3>
                                            <span class="designation">TREKKING GUIDE</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3 img-article">
                                    <div class="holder">
                                        <div class="img-wrap">
                                            <img src="img/listing/img-14.jpg" height="436" width="370"
                                                alt="image description">
                                            <ul class="social-networks" style="color:white;">
                                                <p>text about guide</p>
                                            </ul>
                                        </div>
                                        <div class="caption">
                                            <h3 class="small-space">Monika Katic</h3>
                                            <span class="designation">TREKKING GUIDE</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3 img-article">
                                    <div class="holder">
                                        <div class="img-wrap">
                                            <img src="img/listing/img-15.jpg" height="436" width="370"
                                                alt="image description">
                                            <ul class="social-networks" style="color:white;">
                                                <p>text about guide</p>
                                            </ul>
                                        </div>
                                        <div class="caption">
                                            <h3 class="small-space">Klaudio Konjuhi</h3>
                                            <span class="designation">TREKKING GUIDE</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3 img-article">
                                    <div class="holder">
                                        <div class="img-wrap">
                                            <img src="img/listing/img-15.jpg" height="436" width="370"
                                                alt="image description">
                                            <ul class="social-networks" style="color:white;">
                                                <p>text about guide</p>
                                            </ul>
                                        </div>
                                        <div class="caption">
                                            <h3 class="small-space">Bjorn Koerts</h3>
                                            <span class="designation">TREKKING GUIDE</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        {% include './blocks/footer.twig' %}
    </div>
    {% include './blocks/scripts.twig' %}
</body>

</html>