<!DOCTYPE html>

{% include './blocks/head.twig' %}

<body>
    <div class="preloader" id="pageLoad">
        <div class="holder">
            <div class="coffee_cup"></div>
        </div>
    </div>
    <!-- main wrapper -->
    <div id="wrapper">
        <div class="page-wrapper">
            {% include './blocks/navbar.twig' %}
            <!-- main banner -->
            <section class="banner banner-home">
                <div class="banner-image">
                    <div class="banner-video has-overlay">
                        <video src="videos/igloo1.mp4" autoplay muted loop></video>
                    </div>
                    <div class="banner-text banner-caption-s1">
                        <div class="center-text">
                            <h1><span>Voyager Park</span> </h1>
                            <h1>Expeditions</h1>
                            <strong class="banner-subtitle">
                                <i>Explore The North</i>
                            </strong>
                        </div>
                    </div>
                </div>
            </section>
            <!-- main container -->
            <main id="main">
                <section class="content-block bg-white">
                    <div class="container">
                        <header class="content-heading">
                            <h2 class="main-heading">EXPEDITIONS</h2>
                            <p class="main-subtitle">Embark on pre-planned expeditions in off-road vehicle equipped with
                                cozy rooftop tent and premium thermal sleeping bags.<br><br>
                                Our guides will show you various cultural landmarks and the wonders of
                                nature.<br>
                                Our expeditions can be challenging and exhausting. Be prepared.
                                <br>

                                Expeditions
                                are of various durations and only
                                available in specific time periods. <br><br>Passengers are insured during duration of
                                the trip and cars have
                                roadside
                                assistance package in case of
                                emergencies. <br>Terms and conditions apply.
                            </p>
                            <div class="seperator"></div>
                        </header>

                    </div>
                </section>
                <section class="banner banner-inner banner-midpage parallax " data-stellar-background-ratio="0.5"
                    id="banner" style="background-position: 50% -227.5px;">
                    <div class="banner-text">
                        <div class="text-center">
                            <div class="container">
                                <span class="main-subtitle">We have a unique way of meeting your adventurous
                                    expectations!</span>
                                <strong class="subtitle">Are you ready?</strong>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- article list holder -->
                <div class="content-block content-spacing">
                    <div class="container">
                        <header class="content-heading">
                            <h2 class="main-heading">Our Expeditions</h2>

                            <div class="seperator"></div>
                        </header>
                    </div>
                </div>

                <!-- featured adventure content -->
                <div class="featured-content adventure-holder">
                    <div class="container-fluid">
                        <div class="row same-height row-expeditions">
                            <div class="col-md-6 image height wow slideInLeft">
                                <div class="bg-stretch img-wrap">
                                    <img src="img/expeditions/heimdall.png" height="627" width="960"
                                        alt="image description">
                                </div>
                            </div>
                            <div class="col-md-6 text-block height wow slideInRight">
                                <div class="centered">
                                    <h2 class="intro-heading">Heimdall Expedition</h2>
                                    <p class="intro">Starting with a relaxing evening at Voyager Park, we will be
                                        preparing for the most
                                        intense, scenic and adventurous routes of Norway. Along the path we will explore
                                        the beautiful roads of Trollstigen and the giant mountains of Geiranger. <br>The
                                        Heimdall Expedition is the most challenging expedition of Voyager Park and only
                                        meant for the most experienced drivers.
                                        We hope that you are not afraid of heights.
                                    </p>
                                    <p><strong>±2000KM | 10 Days<br>
                                            Drivers License B is required<br>
                                            Fuel, food and drinks included</strong></p>
                                    <p><strong>Vehicle and Accommodation:</strong>
                                        <br> Suzuki Jimny with Rooftop Tent
                                    </p>
                                    <p><strong>Minimum age driver:</strong> 23 years</p>
                                    <p><strong>Countries crossing:</strong> Sweden & Norway</p>
                                    <br>
                                    </p><a href="#" class="btn btn-primary btn-lg">Coming Soon</a>
                                    <!--
                                                                    <a href="/heimdall-expedition" class="btn btn-primary btn-lg">explore</a>-->
                                </div>
                            </div>
                        </div>
                        <div class="row same-height row-expeditions">
                            <div class="col-md-6 image height wow slideInRight">
                                <div class="bg-stretch">
                                    <img src="img/expeditions/lapland.png" height="627" width="960"
                                        alt="image description">
                                </div>
                            </div>
                            <div class="col-md-6 text-block height wow slideInLeft">
                                <div class="centered">
                                    <h2 class="intro-heading">Lapland Expedition</h2>
                                    <p class="intro">The least intensive and the shortest expedition of Voyager Park.
                                        With our special Lapland Expedition, you will be exploring the most beautiful
                                        places around Voyager Park. Spotting wildlife such as reindeers is absolutely
                                        guaranteed.
                                    </p>
                                    <p><strong>±1000KM | 7 Days<br>
                                            Drivers License B is required<br>
                                            Fuel, food and drinks included</strong></p>
                                    <p><strong>Vehicle and Accommodation:</strong>
                                        <br> Suzuki Jimny with Rooftop Tent
                                    </p>
                                    <p><strong>Minimum age driver:</strong> 23 years</p>
                                    <p><strong>Countries crossing:</strong> Sweden only</p>
                                    <br>
                                    </p><a href="#" class="btn btn-primary btn-lg">Coming Soon</a>
                                    <!--
                                                                    <a href="/lapland-expedition" class="btn btn-primary btn-lg">explore</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- featured adventure content -->
                <div class="featured-content adventure-holder">
                    <div class="container-fluid">
                        <div class="row same-height row-expeditions">
                            <div class="col-md-6 image height wow slideInLeft">
                                <div class="bg-stretch"><img src="img/expeditions/northcape.jpg" height="627"
                                        width="960" alt="image description">
                                </div>
                            </div>
                            <div class="col-md-6 text-block height wow slideInRight">
                                <div class="centered">
                                    <h2 class="intro-heading">NorthCape Expedition</h2>
                                    <p class="intro">We will start with 2 relaxing days at Voyager Park, mentally and
                                        physically preparing for the the longest and most furthest expedition of Voyager
                                        Park.
                                        3000 kilometer of endless roads spread over 10 days to the most northest point
                                        of
                                        Scandinavia.
                                        Coffee will be your best friend on this journey. But when you come back, you can
                                        wipe this journey of your bucketlist.

                                    </p>
                                    <p><strong>±3000KM | 10 Days | 4 days at Voyager Park<br>
                                            Drivers License B is required<br>
                                            Fuel, food and drinks included</strong></p>
                                    <p><strong>Vehicle and Accommodation:</strong>
                                        <br> Suzuki Jimny with Rooftop Tent
                                    </p>
                                    <p><strong>Minimum age driver:</strong> 23 years</p>
                                    <p><strong>Countries crossing:</strong> Sweden & Norway</p>
                                    <br>
                                    </p><a href="#" class="btn btn-primary btn-lg">Coming Soon</a>
                                    <!--
                                                                    <a href="/northcape-expedition" class="btn btn-primary btn-lg">explore</a>-->
                                </div>
                            </div>
                        </div>
                        <div class="row same-height row-expeditions">
                            <div class="col-md-6 image height wow slideInRight">
                                <div class="bg-stretch img-wrap"><img src="img/expeditions/aurora.jpg" height="627"
                                        width="960" alt="image description">
                                </div>
                            </div>
                            <div class="col-md-6 text-block height wow slideInLeft">
                                <div class="centered">
                                    <h2 class="intro-heading">Aurora Expedition</h2>
                                    <p class="intro">Spiked tires, high beams, thick sleeping bags, nice campfires and
                                        the car
                                        heater at full blast.
                                        Because we are going to the most northern city of Sweden, Kiruna. Depending on
                                        the
                                        weather conditions, this brave journey is for those that want to see the Aurora
                                        as clear as possible. You will also see what makes Kiruna the mining region of
                                        Sweden.
                                        We hope that you have no trouble driving nighttime because daylight during
                                        winter is almost non existent.

                                    <p><strong>±2000KM | 10 Days<br>
                                            Drivers License B is required<br>
                                            Fuel, food and drinks included</strong></p>
                                    <p><strong>Vehicle and Accommodation:</strong>
                                        <br> Suzuki Jimny with Rooftop Tent
                                    </p>
                                    <p><strong>Minimum age driver:</strong> 23 years</p>
                                    <p><strong>Countries crossing:</strong> Sweden only</p>
                                    <br>
                                    </p><a href="#" class="btn btn-primary btn-lg">Coming Soon</a>
                                    <!--
                                    <a href="/aurora-expedition" class="btn btn-primary btn-lg">explore</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <!-- content block with guide info 
                <section class="content-block guide-sub guide-add bg-white">
                    <div class="container">
                        <header class="content-heading">
                            <h2 class="main-heading">MEET THE GUIDES</h2>
                            <span class="main-subtitle">intro text about guide</span>
                            <div class="seperator"></div>
                        </header>
                        <div class="content-holder">
                            <div class="row">
                                <div class="col-sm-6 col-md-3 img-article">
                                    <div class="holder">
                                        <div class="img-wrap">
                                            <img src="img/listing/img-13.jpg" height="436" width="370"
                                                alt="image description">
                                            <ul class="social-networks" style="color:white;">
                                                <p>text about guide</p>
                                            </ul>
                                        </div>
                                        <div class="caption">
                                            <h3 class="small-space">Nayiem Willems</h3>
                                            <span class="designation">EXPLORER GUIDE</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3 img-article">
                                    <div class="holder">
                                        <div class="img-wrap">
                                            <img src="img/listing/img-14.jpg" height="436" width="370"
                                                alt="image description">
                                            <ul class="social-networks" style="color:white;">
                                                <p>text about guide</p>
                                            </ul>
                                        </div>
                                        <div class="caption">
                                            <h3 class="small-space">Monika Katic</h3>
                                            <span class="designation">PHOTO GUIDE</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3 img-article">
                                    <div class="holder">
                                        <div class="img-wrap">
                                            <img src="img/listing/img-15.jpg" height="436" width="370"
                                                alt="image description">
                                            <ul class="social-networks" style="color:white;">
                                                <p>text about guide</p>
                                            </ul>
                                        </div>
                                        <div class="caption">
                                            <h3 class="small-space">Klaudio Konjuhi</h3>
                                            <span class="designation">OFFROAD GUIDE</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3 img-article">
                                    <div class="holder">
                                        <div class="img-wrap">
                                            <img src="img/listing/img-15.jpg" height="436" width="370"
                                                alt="image description">
                                            <ul class="social-networks" style="color:white;">
                                                <p>text about guide</p>
                                            </ul>
                                        </div>
                                        <div class="caption">
                                            <h3 class="small-space">Bjorn Koerts</h3>
                                            <span class="designation">SURVIVAL GUIDE</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>-->
            </main>
        </div>
        {% include './blocks/footer.twig' %}
    </div>
    {% include './blocks/scripts.twig' %}
</body>

</html>