<!DOCTYPE html>
{% include './blocks/head.twig' %}

<body>
    {% include './blocks/preloader.twig' %}
    <div id="wrapper">
        <div class="page-wrapper">
            {% include './blocks/navbar.twig' %}
            <!-- main banner -->
            <section class="banner banner-inner parallax" data-stellar-background-ratio="0.5" id="banner-faq">
                <div class="banner-text">
                    <div class="center-text text-center">
                        <div class="container">
                            <h1>FAQ</h1>
                            <strong class="subtitle">Frequently Asked Questions</strong>

                        </div>
                    </div>
                </div>
            </section>
            <!-- main container -->
            <main id="main">
                <div class="content-intro">
                    <div class="container" style="margin-top:50px;margin-bottom:50px;">
                        <div class="row">
                            <div class="col-lg-12  prod-content">
                                <article id="post-4409" class="post-4409 page type-page status-publish hentry">
                                    <div class="entry-content">
                                        <p><strong><u>Accommodation – Pricing</u></strong></p>
                                        <p><strong>Are the rates on your web site per person or per room?</strong><br>
                                            The price is always per room.</p>
                                        <p><strong>Are fees and taxes included in prices?</strong><br>
                                            Yes. Price shown on checkout includes all fees and taxes.</p>
                                        <p><strong><u>Booking process</u></strong></p>
                                        <p><strong>How do I book accommodation?</strong><br>
                                            Booking is possible only by completing the reservation form on our web site.
                                            Please, select the
                                            dates of your stay and type of rooms you have chosen. The system will show
                                            you the price for the
                                            accommodation. If you agree with the total price and the booking conditions,
                                            enter your details
                                            and click “Book now” button to finish the reservation. Once you finish the
                                            order form and click
                                            on button “Book now”, your reservation will be confirmed shorty to your
                                            email address.</p>
                                        <p><strong>How do I know that my reservation is confirmed?</strong><br>
                                            After completing and sending us your order form, you will get an automatic
                                            receipt e-mail
                                            containing your order number. Within 30 minutes, you will receive
                                            Accommodation confirmation.
                                        </p>
                                        <p><strong>I made a reservation but did not receive any confirmation. What
                                                should I do?</strong><br>
                                            Before finalizing your reservation please double check your e-mail address
                                            because a mistake in
                                            the e-mail address is the most common reason why our clients do not receive
                                            their confirmations.
                                            In some cases, our e-mails can also end up in the “spam folder” so please
                                            check it as well. In
                                            any case, please try to contact us by e-mail as we will be very happy to
                                            assist you and solve
                                            the problem as soon as possible.</p>
                                        <p><strong>How many rooms can I book at once?</strong><br>
                                            You can book as many rooms as are available for selected period.</p>
                                        <p><strong><u>Payment / Credit card guarantee</u></strong></p>
                                        <p><strong>Why do you require my credit card details for bookings?</strong><br>
                                            Your credit card details are required by hotels in most cases as a guarantee
                                            for your
                                            reservation in case of late cancellation or “no-show”. The hotel have a
                                            right to preauthorize
                                            your credit card so please make sure that your credit card is valid. Also
                                            please note, that if
                                            you book a Non refundable room, this type of room has special conditions and
                                            your credit card
                                            will be charged in advance. Please, always double check the payment and
                                            cancellation policy of
                                            the room you are interested in before you proceed with the reservation.</p>
                                        <p><strong>Is it secure to send my credit card details?</strong><br>
                                            Yes, it is absolutely secure as we are using encrypted SSL protocol in all
                                            our order forms. This
                                            is the latest, most secure technology that encrypts all the details provided
                                            in the order form
                                            including your credit card details. All our servers are also protected by
                                            firewall against any
                                            unauthorized access.</p>
                                        <p><strong>What types of credit card can I use to guarantee for my
                                                booking?</strong><br>
                                            We accept accept cards such as Visa, Euro/Mastercard, American Express,
                                            Diners Club.</p>
                                        <p><strong>Do you require any deposit or payment in advance?</strong><br>
                                            Generally no deposit or prepayment is requested. However, there are few
                                            exceptions as Special
                                            conditions or Non refundable reservation. You will find the deposit or
                                            prepayment information in
                                            the room conditions.</p>
                                        <p><strong>How do I pay for our accommodation?</strong><br>
                                            It depends on the room payment conditions. In most cases you will pay
                                            directly at the hotel
                                            after your arrival. However, there are some exceptions – for example Non
                                            refundable rooms, so
                                            please refer to the room conditions of each room.</p>
                                        <p><strong><u>Change of a booking / Cancellation</u></strong></p>
                                        <p><strong>How do I cancel my booking?</strong><br>
                                            Please contact us through any channel listed on our website.</p>
                                        <p><strong>How do I know that my reservation is cancelled?</strong><br>
                                            When your reservation is cancelled, you will get a cancellation confirmation
                                            from us. If you
                                            don’t hear back from us in 30 minutes, please get in touch with us by some
                                            other means (e-mail).
                                        </p>
                                        <p><strong>What cancellation conditions do you have? When at latest can I change
                                                the booking without
                                                being charged any fee?</strong><br>
                                            Each room has its own cancellation policy and for this information always
                                            check the room
                                            conditions. Generally, your reservation can be canceled or changed few days
                                            or weeks before your
                                            arrival. However, there are some exceptions – for example „Non Refundable“
                                            or „Special
                                            conditions“ rooms. You can check the room policy if you click on the room
                                            type.</p>
                                        <p>&nbsp;</p>
                                        <p style="text-align: center;"><em><strong><u>For any other questions please
                                                        contact us through our
                                                        contact form or through any channel listed on hotel
                                                        website.</u></strong></em></p>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        {% include './blocks/footer.twig' %}
    </div>
    {% include './blocks/scripts.twig' %}
</body>

</html>