<!DOCTYPE html>
{% include './blocks/head.twig' %}

<body>
    {% include './blocks/preloader.twig' %}
    <div id="wrapper">
        <div class="page-wrapper">
            {% include './blocks/navbar.twig' %}
            <section class="banner banner-inner parallax" data-stellar-background-ratio="0.5" id="about-banner"
                style="background-position: 50% 0px;">
                <div class="banner-text">
                    <div class="text-center">
                        <div class="container">
                            <h1>Privacy Policy</h1>
                            <strong class="subtitle">placeholder</strong>
                        </div>
                    </div>
                </div>
            </section>
            <div class="content-block bg-gray">
                <div class="container">
                    <header class="content-heading">
                        <h2 class="main-heading">OUR PRIVACY POLICY</h2>
                        <div class="seperator"></div>
                    </header>
                    <div class="row">
                        <div class="col-sm-12 description-text">
                            <h3>PLACEHOLDER</h3>
                            <p>PLACEHOLDER
                            </p>
                            <p>PLACEHOLDER</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include './blocks/footer.twig' %}
    </div>
    {% include './blocks/scripts.twig' %}
</body>

</html>