<!DOCTYPE html>
{% include './blocks/head.twig' %}

<body>
    {% include './blocks/preloader.twig' %}
    <div id="wrapper">
        <div class="page-wrapper">
            {% include './blocks/navbar.twig' %}
            <!-- main banner -->
            <section class="banner banner-inner parallax" data-stellar-background-ratio="0.5" id="list-view-normal">
                <div class="banner-text">
                    <div class="text-center">
                        <div class="container">
                            <h1>Rentals and Activities</h1>
                            <strong class="subtitle">Summer</strong>
                        </div>
                    </div>
                </div>
            </section>

            <!-- main container -->
            <main id="main">
                <aside class="recent-block recent-list recent-wide-thumbnail">
                    <div class="container">
                        <h2 class="text-center text-uppercase">Summer (est. May - September)</h2>
                        <div class="row">
                            <article class="col-sm-6 col-md-3 article">
                                <div class="thumbnail">
                                    <h3 class="no-space"><a href="/fishing">Fishing Gear</a></h3>
                                    <strong class="info-title">Rental</strong>
                                    <div class="img-wrap">
                                        <img src="img/listing/img-31.jpg" style="height:250px;width:250px;" height="250"
                                            width="250" alt="voyager-park-se">
                                    </div>
                                    <footer>
                                        <div class="sub-info" style="width:100%;">
                                            <span style="float:left;">per day</span>
                                            <span style="float:right;">€ 0</span>

                                        </div>
                                    </footer>
                                </div>
                            </article>
                            <article class="col-sm-6 col-md-3 article">
                                <div class="thumbnail">
                                    <h3 class="no-space"><a href="/samurai">Suzuki Samurai</a></h3>
                                    <strong class="info-title">Rental - 250KM Included</strong>
                                    <div class="img-wrap">
                                        <img src="img/activities/jimny/jimny1.jpg" style="height:250px;width:250px;"
                                            height="250" width="250" alt="voyager-park-se">
                                    </div>
                                    <footer>
                                        <div class="sub-info" style="width:100%;">
                                            <span style="float:left;">per day</span>
                                            <span style="float:right;">€ 0</span>

                                        </div>
                                    </footer>
                                </div>
                            </article>
                            <article class="col-sm-6 col-md-3 article">
                                <div class="thumbnail">
                                    <h3 class="no-space"><a href="/feroza">Daihatsu Feroza</a></h3>
                                    <strong class="info-title">Rental - 250KM Included</strong>
                                    <div class="img-wrap">
                                        <img src="img/activities/feroza/feroza1.jpg" style="height:250px;width:250px;"
                                            height="250" width="250" alt="voyager-park-se">
                                    </div>
                                    <footer>
                                        <div class="sub-info" style="width:100%;">
                                            <span style="float:left;">per day</span>
                                            <span style="float:right;">€ 0</span>

                                        </div>
                                    </footer>
                                </div>
                            </article>
                            <article class="col-sm-6 col-md-3 article">
                                <div class="thumbnail">
                                    <h3 class="no-space"><a href="/tipitent">Kayak</a></h3>
                                    <strong class="info-title">Rental</strong>
                                    <div class="img-wrap">
                                        <img src="img/listing/img-31.jpg" height="250" width="250"
                                            alt="voyager-park-se">
                                    </div>
                                    <footer>
                                        <div class="sub-info" style="width:100%;">
                                            <span style="float:left;">per 4 hours</span>
                                            <span style="float:right;">€ 0</span>

                                        </div>
                                    </footer>
                                </div>
                            </article>
                        </div>
                    </div>
                </aside>
            </main>
        </div>
        {% include './blocks/footer.twig' %}
    </div>
    {% include './blocks/scripts.twig' %}
</body>

</html>