<!DOCTYPE html>
{% include './blocks/head.twig' %}

<body>
    {% include './blocks/preloader.twig' %}
    <div id="wrapper">
        <div class="page-wrapper">
            {% include './blocks/navbar.twig' %}
            <!-- main banner -->
            <section class="banner banner-inner parallax " data-stellar-background-ratio="0.5" id="banner-restaurant">
                <div class="banner-text">
                    <div class="text-center">
                        <div class="container">
                            <h1>Restaurant</h1>
                            <strong class="subtitle">Experience Nordic Cuisine</strong>
                        </div>
                    </div>
                </div>
            </section>

            <!-- main container -->
            <main id="main">
                <aside class="recent-block recent-list recent-wide-thumbnail" style="margin-top:0px;padding-top:0px;">
                    <div class="container" style="margin-bottom:25px!important;">
                        <section class="content-block bg-white"
                            style="margin-bottom:0px!important;padding-bottom:0px!important;">
                            <div class="container">
                                <header class="content-heading">
                                    <span class="main-subtitle">Breakfast</span>
                                    <p><br>Breakfast is always included in bookings for any of our
                                        accommodations.<br>
                                        Breakfast is served directly at your accommodation or at the dining room between
                                        07:00 and 11:00. <br>Time and reservation should be mentioned the day
                                        before.</p>
                                    <p class="intro"><strong>Breakfast Includes</strong> <br>Fresh eggs from chickens at
                                        Voyager Park<br>Toast bread<br>
                                        Ham, Cheese, Jam and Butter<br>Milk and Juice</p>
                                    <div class="seperator"></div>
                                </header>
                            </div>
                        </section>
                        <section class="content-block bg-white"
                            style="margin-bottom:0px!important;padding-bottom:0px!important;">
                            <div class="container">
                                <header class="content-heading">
                                    <span class="main-subtitle">Lunch</span>
                                    <p><br>Lunch is served between 12:00 and 15:00 at the dining room. <br>Time and
                                        reservation
                                        should be mentioned between 07:00 and 11:00.
                                    <p class="intro"><strong>Lunch Includes</strong> <br>what?</p>
                                    <div class="seperator"></div>
                                </header>
                            </div>
                        </section>
                        <section class="content-block bg-white"
                            style="margin-bottom:0px!important;padding-bottom:0px!important;">
                            <div class="container">
                                <header class="content-heading">
                                    <span class="main-subtitle">Dinner</span>
                                    <p><br>Dinner is served between 17:00 and 22:00 at the dining room. <br>Time and
                                        reservation
                                        should be mentioned the day before.<br>
                                        We have special menu's for vegans and vegetarians. <br>If you have any diets or
                                        allergies, please let us know before making your reservation

                                    <div class="row" style="margin-top:25px;">
                                        <h2>3 Course Dinner Menu's</h2>
                                        <div class="col-sm-4">
                                            <h3>Wild Boar Filet</h3>
                                            <p class="intro"><strong>Appetizer</strong> <br>text</p>
                                            <p class="intro"><strong>Main Course</strong> <br>text</p>
                                            <p class="intro"><strong>Dessert</strong> <br>text</p>
                                        </div>
                                        <div class="col-sm-4">
                                            <h3>Charcoal Grilled Salmon</h3>
                                            <p class="intro"><strong>Appetizer</strong> <br>text</p>
                                            <p class="intro"><strong>Main Course</strong> <br>text</p>
                                            <p class="intro"><strong>Dessert</strong> <br>text</p>
                                        </div>
                                        <div class="col-sm-4">
                                            <h3>Reindeer Filet</h3>
                                            <p class="intro"><strong>Appetizer</strong> <br>text</p>
                                            <p class="intro"><strong>Main Course</strong> <br>text</p>
                                            <p class="intro"><strong>Dessert</strong> <br>text</p>
                                        </div>
                                    </div>
                                </header>
                            </div>
                        </section>
                    </div>

                </aside>
            </main>
        </div>
        {% include './blocks/footer.twig' %}
    </div>
    {% include './blocks/scripts.twig' %}

</body>

</html>