<!DOCTYPE html>
{% include './blocks/head.twig' %}

<body>
    {% include './blocks/preloader.twig' %}
    <div id="wrapper">
        <div class="page-wrapper">
            {% include './blocks/navbar.twig' %}
            <!-- main banner -->
            <section class="banner banner-inner parallax " data-stellar-background-ratio="0.5" id="banner-restaurant">
                <div class="banner-text">
                    <div class="text-center">
                        <div class="container">
                            <h1>Restaurant</h1>
                            <strong class="subtitle">subtitle</strong>
                        </div>
                    </div>
                </div>
            </section>

            <!-- main container -->
            <main id="main">
                <aside class="recent-block recent-list recent-wide-thumbnail">
                    <div class="container" style="margin-bottom:25px!important;">
                        <section class="content-block bg-white"
                            style="margin-bottom:0px!important;padding-bottom:0px!important;">
                            <div class="container">
                                <header class="content-heading">
                                    <h2 class="main-heading">Restaurant</h2>
                                    <span class="main-subtitle">Menu</span>
                                    <div class="seperator"></div>
                                </header>
                                <div class="adventure-holder gallery-home-holder">
                                    <div class="row">
                                        <div class="col-md-12 text-block">
                                            <div class="centered">
                                                <h2 class="intro-heading">Restaurant</h2>
                                                <p class="intro">text</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                </aside>
            </main>
        </div>
        {% include './blocks/footer.twig' %}
    </div>
    {% include './blocks/scripts.twig' %}

</body>

</html>