<!DOCTYPE html>
<html>
{% include './blocks/head.twig' %}

<body>
    {% include './blocks/preloader.twig' %}
    <div id="wrapper">
        <div class="page-wrapper">
            {% include './blocks/navbar.twig' %}
            <!-- main banner -->
            <section class="banner banner-inner parallax" data-stellar-background-ratio="0.5" id="about-theregion">
                <div class="banner-text">
                    <div class="center-text">
                        <div class="container">
                            <h1>About The Region</h1>
                            <strong class="subtitle">text learn more about region</strong>
                        </div>
                    </div>
                </div>
            </section>
            <!-- main container -->
            <main id="main">
                <!-- content block with article -->
                <div class="content-block bg-white content-center">
                    <div class="container">
                        <header class="content-heading">
                            <h2 class="main-heading">Welcome to Backsjön</h2>
                            <strong class="main-subtitle">In the North of Sweden</strong>
                            <div class="seperator"></div>
                        </header><br>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore
                                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                                ctetur, adipisci velit,
                                sed quia non numquam eius modi.</p>
                        </div>
                    </div>
                </div>
                <!-- step block 
                <div class="step-block text-center parallax" data-stellar-background-ratio="0.3" id="about-step-block">
                    <div class="container">
                        <blockquote class="normal">
                            <q>“some text.”</q>
                        </blockquote>
                    </div>
                </div>-->
                <!-- services block -->
                <div class="services-block has-bg parallax" id="about-service-block">
                    <div class="container">
                        <div class="row db-3-col">
                            <div class="col-sm-4 ico-article wow fadeInUp" data-wow-duration="400ms"
                                data-wow-delay="200ms">
                                <div class="ico-holder">
                                    <span class="icon-hiking"></span>
                                </div>
                                <div class="description">
                                    <strong class="content-title"><a href="#">CAMPING AND HIKING</a></strong>
                                    <p>text</p>
                                </div>
                            </div>
                            <div class="col-sm-4 ico-article wow fadeInUp" data-wow-duration="400ms"
                                data-wow-delay="300ms">
                                <div class="ico-holder">
                                    <span class="icon-wildlife"></span>
                                </div>
                                <div class="description">
                                    <strong class="content-title"><a href="#">WILDLIFE AND POLAR</a></strong>
                                    <p>text</p>
                                </div>
                            </div>
                            <div class="col-sm-4 ico-article wow fadeInUp" data-wow-duration="400ms"
                                data-wow-delay="400ms">
                                <div class="ico-holder">
                                    <span class="icon-mountain-biking"></span>
                                </div>
                                <div class="description">
                                    <strong class="content-title"><a href="#">MOUNTAIN BIKING</a></strong>
                                    <p>text</p>
                                </div>
                            </div>
                            <div class="col-sm-4 ico-article wow fadeInUp" data-wow-duration="400ms"
                                data-wow-delay="500ms">
                                <div class="ico-holder">
                                    <span class="icon-scuba-diving"></span>
                                </div>
                                <div class="description">
                                    <strong class="content-title"><a href="#">SCUBA DIVING</a></strong>
                                    <p>text</p>
                                </div>
                            </div>
                            <div class="col-sm-4 ico-article wow fadeInUp" data-wow-duration="400ms"
                                data-wow-delay="600ms">
                                <div class="ico-holder">
                                    <span class="icon-jeep"></span>
                                </div>
                                <div class="description">
                                    <strong class="content-title"><a href="#">JUNGLE SAFARI</a></strong>
                                    <p>text</p>
                                </div>
                            </div>
                            <div class="col-sm-4 ico-article wow fadeInUp" data-wow-duration="400ms"
                                data-wow-delay="700ms">
                                <div class="ico-holder">
                                    <span class="icon-bungee"></span>
                                </div>
                                <div class="description">
                                    <strong class="content-title"><a href="#">BUNGEE JUMPING</a></strong>
                                    <p>text</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content block with article -->
                <div class="content-block bg-gray">
                    <div class="container">
                        <header class="content-heading">
                            <h2 class="main-heading">ABOUT BACKSJÖN</h2>
                            <strong class="main-subtitle">A work of art is above all an adventure of mind!</strong>
                            <div class="seperator"></div>
                        </header>
                        <div class="row">
                            <div class="col-sm-6 description-text">
                                <h3>Best Adventure Template.</h3>
                                <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                    aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,
                                    nec sagittis sem nibh id elit. </p>
                                <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum
                                    velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae
                                    erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora </p>
                            </div>
                            <div class="col-sm-6 description-text">
                                <h3>Awesome Tour Details.</h3>
                                <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                    aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,
                                    nec sagittis sem nibh id elit. </p>
                                <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum
                                    velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae
                                    erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora </p>
                            </div>
                        </div>
                    </div>
                </div>



            </main>
        </div>
        {% include './blocks/footer.twig' %}
    </div>
    {% include './blocks/scripts.twig' %}
</body>

</html>