<!DOCTYPE html>
<html>
{% include './blocks/head.twig' %}

<body>
    {% include './blocks/preloader.twig' %}
    <div id="wrapper">
        <div class="page-wrapper">


            <!-- main container -->
            <main id="main">
                {% include './blocks/navbar-accommodation.twig' %}
                <!-- main tour information -->
                <section class="container-fluid trip-info">
                    <div class="same-height two-columns row">
                        <div class="height col-md-6">
                            <!-- top image slideshow -->
                            <div id="tour-slide">
                                <div class="slide">
                                    <div class="bg-stretch">
                                        <img src="img/generic/img-17.jpg" alt="image descriprion" height="1104"
                                            width="966">
                                    </div>
                                </div>
                                <div class="slide">
                                    <div class="bg-stretch">
                                        <img src="img/generic/img-07.jpg" alt="image descriprion" height="1104"
                                            width="966">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="height col-md-6 text-col" style="margin-top:50px;">
                            <div class="holder">
                                <h1 class="small-size">Tipi Tent</h1>
                                <div class="description">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ctetur, adipisci velit, sed quia non
                                        numquam eius modi.</p>
                                </div>
                                <ul class="reviews-info">
                                    <li style="width:100%!important;">
                                        <div class="info-left">
                                            <strong class="title">Included</strong>
                                            <span class="value">Towels</span>
                                            <span class="value">Sleeping Bags</span>
                                        </div>
                                        <div class="info-right">
                                            <strong class="title">Not Included</strong>
                                            <span class="value"> max 2 person</span>

                                        </div>
                                    </li>
                                </ul>
                                <div class="price">
                                    <div class="col-md-6">
                                        <h4><strong>Summer</strong></h4>
                                        <p>€ 250</p>
                                        <p>per night</p>
                                    </div>
                                    <div class="col-md-6">
                                        <h4><strong>Winter</strong></h4>
                                        <p>€ 250</p>
                                        <p>per night</p>
                                    </div>
                                </div>


                                <div class="btn-holder">
                                    <a href="#" class="btn btn-lg btn-info" style="margin-top:25px;">BOOK NOW</a>
                                </div>
                                <!--    <ul class="social-networks social-share">
                                    <li>
                                        <a href="#" class="facebook">
                                            <span class="ico">
                                                <span class="icon-facebook"></span>
                                            </span>
                                            <span class="text">Share</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter">
                                            <span class="ico">
                                                <span class="icon-twitter"></span>
                                            </span>
                                            <span class="text">Tweet</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="google">
                                            <span class="ico">
                                                <span class="icon-google-plus"></span>
                                            </span>
                                            <span class="text">+1</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="pin">
                                            <span class="ico">
                                                <span class="icon-pin"></span>
                                            </span>
                                            <span class="text">Pin it</span>
                                        </a>
                                    </li>
                                </ul>-->
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        {% include './blocks/footer.twig' %}
    </div>
    {% include './blocks/scripts.twig' %}
</body>

</html>