<!DOCTYPE html>
{% include './blocks/head.twig' %}

<body>
    {% include './blocks/preloader.twig' %}
    <div id="wrapper">
        <div class="page-wrapper">
            <!-- main container -->
            <main id="main">
                {% include './blocks/navbar-accommodation.twig' %}
                <!-- main tour information -->
                <section class="container-fluid trip-info">
                    <div class="same-height two-columns row">
                        {% include './images/tipi.twig' %}
                        <div class="height col-md-6 text-col" style="margin-top:50px;">

                            <div class="holder">
                                <h1 class="small-size">Tipi Tent</h1>
                                <p><strong>Max 2 persons</strong></p>
                                <div class="description">
                                    <p>Accommodation in a Tipi tent featuring one double bed and wood stove for heating.
                                        Tipi tents also feature shared outdoor
                                        picnic tables and shared barbecue spot.
                                        Bathrooms and showers are located in separate building close by to the
                                        tents.<br>
                                    </p>
                                    <strong class="title">Included</strong>
                                    <p>Bed linnen<br>Towels<br>Breakfast<br>Wood for stove heating</p>
                                </div>
                                <div class="price">
                                    <div class="col-md-12">
                                        <h4><strong>Per Night</strong></h4>
                                        <p>€ 145</p>

                                    </div>

                                </div>
                                {% include './blocks/booknow.twig' %}
                                {% include './blocks/modals.twig' %}
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        {% include './blocks/footer.twig' %}
    </div>
    {% include './blocks/scripts.twig' %}
</body>

</html>