<!DOCTYPE html>
<html>
{% include './blocks/head.twig' %}

<body>
    {% include './blocks/preloader.twig' %}
    <div id="wrapper">
        <div class="page-wrapper">
            <!-- main container -->
            <main id="main">
                {% include './blocks/navbar-accommodation.twig' %}
                <!-- main tour information -->
                <section class="container-fluid trip-info">
                    <div class="same-height two-columns row">
                        {% include './images/deluxeigloo.twig' %}
                        <div class="height col-md-6 text-col" style="margin-top:50px;">

                            <div class="holder">
                                <h1 class="small-size">Explorer Wagon with Tentbox</h1>
                                <div class="description">
                                    <p>placeholder description</p>
                                </div>
                                <ul class="reviews-info">
                                    <li style="width:100%!important;">
                                        <div class="info-left">
                                            <strong class="title">Included</strong>
                                            <span class="value">Towels</span>
                                            <span class="value">Sleeping Bags</span>
                                        </div>
                                        <div class="info-right">
                                            <strong class="title">Not Included</strong>
                                            <span class="value"> max 2 person</span>

                                        </div>
                                    </li>
                                </ul>
                                <div class="price">
                                    <div class="col-md-6">
                                        <h4><strong>Summer</strong></h4>
                                        <p>€ 250</p>
                                        <p>per night</p>
                                    </div>
                                    <div class="col-md-6">
                                        <h4><strong>Winter</strong></h4>
                                        <p>€ 250</p>
                                        <p>per night</p>
                                    </div>
                                </div>
                                <div class="btn-holder">
                                    <a href="#booking" class="btn btn-lg btn-info" style="margin-top:25px;"
                                        data-toggle="modal" data-target="#booknow">BOOK NOW</a>
                                </div>
                                <div class="inner-main common-spacing container">

                                    <!-- Modal -->
                                    <div class="modal fade" id="booknow" tabindex="-1" role="dialog"
                                        aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div id="apartmentIframe895987">
                                                    <script type="text/javascript"
                                                        src="https://login.smoobu.com/js/Settings/BookingToolIframe.js"></script>
                                                    <script>BookingToolIframe.initialize({ "url": "https://login.smoobu.com/en/booking-tool/iframe/272206/895987", "baseUrl": "https://login.smoobu.com", "target": "#apartmentIframe895987" })</script>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="container">
                    <div class="row">
                        <h2 class="text-center">Availability</h2>
                    </div>
                    <div id="smoobuApartment896002en" class="calendarWidget">
                        <div class="calendarContent"
                            data-load-calendar-url="https://login.smoobu.com/en/cockpit/widget/single-calendar/896002"
                            data-verification="b41871f02e3305cad1ea8390fae8622edd17cab81d91dbd7ecf575e7077bc9fa"
                            data-baseUrl="https://login.smoobu.com" data-disable-css="false"></div>
                        <script type="text/javascript"
                            src="https://login.smoobu.com/js/Apartment/CalendarWidget.js"></script>
                    </div>
                </section>
            </main>
        </div>
        {% include './blocks/footer.twig' %}
    </div>
    {% include './blocks/scripts.twig' %}
</body>

</html>