<!DOCTYPE html> {% include './blocks/head.twig' %}

<body>
    <div class="preloader" id="pageLoad">
        <div class="holder">
            <div class="coffee_cup"></div>
        </div>
    </div>
    <!-- main wrapper -->
    <div id="wrapper">
        <div class="page-wrapper">
            {% include './blocks/navbar.twig' %}
            <!-- main banner -->
            <section class="banner banner-home">
                <div class="banner-image">
                    <div class="banner-video has-overlay">
                        <video src="videos/igloo1.mp4" autoplay muted loop></video>
                    </div>
                    <div class="banner-text banner-caption-s1">
                        <div class="center-text">
                            <h1><span>Voyager Park</span> </h1>
                            <h1>Expeditions</h1>
                            <strong class="banner-subtitle">
                                <i>Explore The North on Snowmobiles</i>
                            </strong>
                        </div>
                    </div>
                </div>
            </section>
            <!-- main container -->
            <main id="main">
                <section class="content-block bg-white">
                    <div class="container">
                        <header class="content-heading">
                            <h2 class="main-heading">EXPEDITIONS</h2>
                            <p class="main-subtitle">Embark on pre-planned expeditions on a snowmobile.<br><br> Our guides will show you various cultural landmarks and the wonders of nature.
                                <br> Our expeditions can be challenging and exhausting. Be prepared.
                                <br> Expeditions are of various durations and only available in specific time periods. <br><br>Passengers are insured during duration of the trip. <br>Terms and conditions apply.
                            </p>
                            <div class="seperator"></div>
                        </header>

                    </div>
                </section>
                <section class="banner banner-inner banner-expeditionpage parallax " data-stellar-background-ratio="0.5" id="banner" style="background-position: 50% -227.5px;">
                    <div class="" style="margin-top:50px;">
                        <div class="text-center">
                            <div class="container">
                                <h2 class="" style="color:#fff;">We have a unique way of meeting your adventurous expectations!
                                </h2>
                                <strong class="subtitle">Are you ready?</strong>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- article list holder -->
                <div class="content-block content-spacing">
                    <div class="container">
                        <header class="content-heading">
                            <h2 class="main-heading">Our Expeditions</h2>

                            <div class="seperator"></div>
                        </header>
                    </div>
                </div>

                <!-- featured adventure content -->
                <div class="featured-content adventure-holder">
                    <div class="container-fluid">
                        <div class="row same-height row-expeditions">
                            <div class="col-md-6 image height wow slideInLeft">
                                <div class="bg-stretch img-wrap">
                                    <img src="img/snowmobile/snowmobile.jpg" height="627" width="960" alt="image description">
                                </div>
                            </div>
                            <div class="col-md-6 text-block height wow slideInRight">
                                <div class="centered">
                                    <h2 class="intro-heading">3 Day Expedition (8-14 people)</h2>
                                    <p class="intro">Starting with a relaxing evening at Voyager Park, we will be preparing for the most intense, scenic and adventurous routes of Backsjön. <br>This 3-day Expedition is the most challenging winter expedition of Voyager
                                        Park.
                                    </p>

                                    <p><strong>±250KM | 3 Days (4 nights including arrival day)<br>
                                            Drivers License AM/B is required<br>
                                            Fuel, winter overall, helmet, food and drinks included</strong></p>
                                    <p><strong>Vehicle and Accommodation:</strong>
                                        <br> Polaris 2-stroke Snowmobile, Accommodation in a tent with thermal sleeping bag.
                                    </p>
                                    <p><strong>Minimum age driver:</strong> 16 years (Healthy physical and mental condition mandatory)</p>
                                    <p><strong>Notice:</strong> Drivers might face extreme cold temperatures.</p>
                                    <br>
                                    </p><a href="/3day-expedition" class="btn btn-primary btn-lg">Book now</a>
                                    <!--
                                                                    <a href="/heimdall-expedition" class="btn btn-primary btn-lg">explore</a>-->
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row same-height row-expeditions">
                            <div class="col-md-6 image height wow slideInRight">
                                <div class="bg-stretch">
                                    <img src="img/expeditions/lapland.png" height="627" width="960" alt="image description">
                                </div>
                            </div>
                            <div class="col-md-6 text-block height wow slideInLeft">
                                <div class="centered">
                                    <h2 class="intro-heading">Lapland Expedition</h2>
                                    <p class="intro">The least intensive and the shortest expedition of Voyager Park. With our special Lapland Expedition, you will be exploring the most beautiful places around Voyager Park. Spotting wildlife such as reindeers is absolutely
                                        guaranteed.
                                    </p>
                                    <p><strong>±1000KM | 7 Days<br>
                                            Drivers License B is required<br>
                                            Fuel, food and drinks included</strong></p>
                                    <p><strong>Vehicle and Accommodation:</strong>
                                        <br> Suzuki Jimny with Rooftop Tent
                                    </p>
                                    <p><strong>Minimum age driver:</strong> 23 years</p>
                                    <p><strong>Countries crossing:</strong> Sweden only</p>
                                    <br>
                                    </p><a href="#" class="btn btn-primary btn-lg">Coming Soon</a>

                                    <a href="/lapland-expedition" class="btn btn-primary btn-lg">explore</a>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>


                <!-- content block with guide info 
                <section class="content-block guide-sub guide-add bg-white">
                    <div class="container">
                        <header class="content-heading">
                            <h2 class="main-heading">MEET THE GUIDES</h2>
                            <span class="main-subtitle">intro text about guide</span>
                            <div class="seperator"></div>
                        </header>
                        <div class="content-holder">
                            <div class="row">
                                <div class="col-sm-6 col-md-3 img-article">
                                    <div class="holder">
                                        <div class="img-wrap">
                                            <img src="img/listing/img-13.jpg" height="436" width="370"
                                                alt="image description">
                                            <ul class="social-networks" style="color:white;">
                                                <p>text about guide</p>
                                            </ul>
                                        </div>
                                        <div class="caption">
                                            <h3 class="small-space">Nayiem Willems</h3>
                                            <span class="designation">EXPLORER GUIDE</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3 img-article">
                                    <div class="holder">
                                        <div class="img-wrap">
                                            <img src="img/listing/img-14.jpg" height="436" width="370"
                                                alt="image description">
                                            <ul class="social-networks" style="color:white;">
                                                <p>text about guide</p>
                                            </ul>
                                        </div>
                                        <div class="caption">
                                            <h3 class="small-space">Monika Katic</h3>
                                            <span class="designation">PHOTO GUIDE</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3 img-article">
                                    <div class="holder">
                                        <div class="img-wrap">
                                            <img src="img/listing/img-15.jpg" height="436" width="370"
                                                alt="image description">
                                            <ul class="social-networks" style="color:white;">
                                                <p>text about guide</p>
                                            </ul>
                                        </div>
                                        <div class="caption">
                                            <h3 class="small-space">Klaudio Konjuhi</h3>
                                            <span class="designation">OFFROAD GUIDE</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3 img-article">
                                    <div class="holder">
                                        <div class="img-wrap">
                                            <img src="img/listing/img-15.jpg" height="436" width="370"
                                                alt="image description">
                                            <ul class="social-networks" style="color:white;">
                                                <p>text about guide</p>
                                            </ul>
                                        </div>
                                        <div class="caption">
                                            <h3 class="small-space">Bjorn Koerts</h3>
                                            <span class="designation">SURVIVAL GUIDE</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>-->
            </main>
        </div>
        {% include './blocks/footer.twig' %}
    </div>
    {% include './blocks/scripts.twig' %}
</body>

</html>