<!DOCTYPE html>
{% include './blocks/head.twig' %}

<body>
    {% include './blocks/preloader.twig' %}
    <div id="wrapper">
        <div class="page-wrapper">
            {% include './blocks/navbar.twig' %}
            <section class="banner banner-inner parallax" data-stellar-background-ratio="0.5" id="about-banner"
                style="background-position: 50% 0px;">
                <div class="banner-text">
                    <div class="text-center">
                        <div class="container">
                            <h1>YOUR RESPONSIBILITIES</h1>
                            <strong class="subtitle">The Swedish "Allemansrätten"</strong>
                        </div>
                    </div>
                </div>
            </section>
            <div class="content-block bg-gray">
                <div class="container">
                    <header class="content-heading">
                        <h2 class="main-heading">"Allemansrätten"</h2>
                        <p class="main-subtitle">"the Right of Public Access"</p>
                        <div class="seperator"></div>
                        <div class="description" style="margin-top:25px;">
                            <p>When you are in Sweden you have the right to walk, cycle, ride, ski and camp on any land
                                with the exception of private
                                gardens, near a dwelling house or land under cultivation.<br> We call it the Freedom to
                                Roam.</p>
                            <p>
                                Sweden’s natural wonders; Swedish Lapland, the Swedish mountains, coastlines and
                                archipelagos are waiting for you to
                                come and discover them.</p>
                            <p>
                                So come to Sweden and claim your right to enjoy the sights and sounds of Sweden’s great
                                outdoors.
                            </p>
                            <p>
                                The Right of Public Access is a unique right to roam freely in the countryside. But with
                                this right come
                                responsibilities – to take care of nature and wildlife and to show consideration for
                                landowners and for other people
                                enjoying the countryside.</p>
                            <p>The Swedish Environmental Protection Agency (EPA) sums up the
                                Right of Public Access in the
                                phrase ‘Don’t disturb – Don’t destroy.’</p>
                        </div>
                        <p class="text-center"><strong>Learn more about the "Allemansrätten on external
                                websites</strong>
                        </p><a target="_blank"
                            href="https://visitsweden.com/what-to-do/nature-outdoors/nature/sustainable-and-rural-tourism/about-the-right-of-public-access/"
                            class="btn btn-default">Right of Public Access</a>
                        <a href="https://visitsweden.com/what-to-do/nature-outdoors/nature/sustainable-and-rural-tourism/freedomtoroam/"
                            target="_blank" class="btn btn-default">Freedom to Roam</a>

                    </header>
                </div>
            </div>
        </div>
        {% include './blocks/footer.twig' %}
    </div>
    {% include './blocks/scripts.twig' %}
</body>

</html>