/* Homepage */

#testimonial-home-page {
  background-image: url("../img/generic/img-05.jpg");
}

#banner-homeparallax-default {
  background-image: url("../img/banner/img-07.jpg");
}

#banner-testimonial {
  background-image: url("../img/banner/testimonial.jpg");
}

/* faq page */
#banner-faq {
  background-image: url("../img/banner/faq.jpg");
}
/* privacypolicy page */
#banner-privacypolicy {
  background-image: url("../img/banner/privacypolicy.jpg");
}

/* termsandconditions page */
#banner-termsandconditions {
  background-image: url("../img/banner/termsandconditions.jpg");
}

/* responsibilities page */
#responsibilities-banner {
  background-image: url("../img/banner/responsibilities.jpg");
}

/* banner-contact */

#banner-contact {
  background-image: url("../img/banner/contact.jpg") !important;
}

/* banner-accommodation 1920x675 */

#banner-accommodation {
  background-image: url("../img/banner/accommodation.jpg");
}

/* banner-activities 1920x675 */

#banner-activities-header {
  background-image: url("../img/banner/rentalsandactivities.jpg");
}

#banner-partner-activities {
  background-image: url("../img/farmbacksjon/headerfarmbacksjon.png");
}

/* banner restaurant */
#banner-restaurant {
  background-image: url("../img/banner/restaurant.jpeg");
}

/* expeditions 960x627 */
#banner-expedition-heimdall {
  background-image: url("../img/expeditions/heimdall.png");
}

#banner-expedition-lapland {
  background-image: url("../img/expeditions/heimdall.png");
}

#banner-expedition-northcape {
  background-image: url("../img/expeditions/heimdall.png");
}

#banner-expedition-aurora {
  background-image: url("../img/expeditions/heimdall.png");
}

#gridview-2-col {
  background-image: url("../img/banner/img-23.jpg");
}

#gridview-3-col {
  background-image: url("../img/banner/img-24.jpg");
}

#gridview-4-col {
  background-image: url("../img/banner/img-25.jpg");
}

#gridview-sidebar {
  background-image: url("../img/banner/img-26.jpg");
}

#gridview-full-width {
  background-image: url("../img/banner/img-27.jpg");
}

#list-view-normal {
  background-image: url("../img/banner/img-29.jpg");
}

#list-view-detail {
  background-image: url("../img/banner/img-28.jpg");
}

#activity-hiking {
  background-image: url("../img/banner/img-31.jpg");
}

#activity-jungle {
  background-image: url("../img/banner/img-12.jpg");
}

#activity-city-tour {
  background-image: url("../img/banner/img-27.jpg");
}

#activity-summer {
  background-image: url("../img/banner/img-25.jpg");
}

#about-banner {
  background-image: url("../img/banner/img-13.jpg");
}

/* 1920x856 */
#about-service-block {
  /*  background-image: url("https://willems.ventures/assets/images/slide7.jpg");*/
  background-color: "#000;";
}

#about-step-block {
  background-image: url("../img/generic/img-16.jpg");
}

#banner-layout-bothsidebar {
  background-image: url("../img/banner/img-14.jpg");
}

#banner-layout-fullwidth-wide {
  background-image: url("../img/banner/img-14.jpg");
}

#banner-layout-fullwidth {
  background-image: url("../img/banner/img-14.jpg");
}

#banner-layout-leftsidebar {
  background-image: url("../img/banner/img-14.jpg");
}

#banner-layout-rightsidebar {
  background-image: url("../img/banner/img-14.jpg");
}

#blog-default {
  background-image: url("../img/banner/img-16.jpg");
}

#blog-leftsidebar {
  background-image: url("../img/banner/img-16.jpg");
}

#blog-rightsidebar {
  background-image: url("../img/banner/img-16.jpg");
}

#blog-fullwidth {
  background-image: url("../img/banner/img-16.jpg");
}

#blog-single {
  background-image: url("../img/banner/img-16.jpg");
}

#banner-contact {
  background-image: url("../img/banner/img-17.jpg");
}

#banner-intro {
  background-image: url("../img/intro/img-01.jpg");
}

.banner.banner-inner.banner-midpage {
  height: 100vh;
  min-height: 320px;
  max-height: 350px;
  padding-top: 0;
  color: #fff;
}
