<!-- main container -->
<main id="main">
    <section class="content-block bg-white">
        <div class="container">
            <header class="content-heading">
                <span class="main-subtitle">Welcome to Voyager Park</span>
                <div class="seperator"></div>
            </header>
            <div class="adventure-holder gallery-home-holder" style="margin-top:35px;">
                <div class="row">
                    <div class="col-md-12 ">

                        <h4 class="text-center">A first of a kind resort in Sweden with luxury
                            accommodations in glass
                            igloos, tipi-tents and off-road vehicles.<br>
                            Enjoy untouched nature, our activities and complete relaxation in our facilities. <br>We're
                            looking forward to make your
                            experience in Sweden unforgettable.</h4>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- browse block -->
    <div class="browse-block">
        <div class="browse-destination column">
            <a href="/accommodations"><span>View Accommodations</span></a>
        </div>
        <div class="browse-adventures column">
            <a href="/rentals-and-activities-summer"><span>View Summer Activities</span></a>
        </div>
        <div class="browse-destination column">
            <a href="/rentals-and-activities-winter"><span>View Winter Activities</span></a>
        </div>
        <div class="browse-adventures column">
            <a href="/partner-activities"><span>View Partner Activities</span></a>
        </div>
    </div>

    <div class="content-block bg-white content-center">
        <div class="container">
            <header class="content-heading">
                <h2 class="main-heading">Explore the Region</h2>
                <strong class="main-subtitle">Backsjön</strong>
                <div class="seperator"></div>
            </header><br>
            <div class="row text-center">
                <div class="col-sm-6 description-text">
                    <h3>Summer</h3>
                    <p>placeholder text about summer</p>
                    <p>placeholder text about summer</p>
                </div>
                <div class="col-sm-6 description-text">
                    <h3>Winter</h3>
                    <p>placeholder text about winter</p>
                    <p>placeholder text about winter</p>
                </div>
            </div>
        </div>
    </div>
    <!-- testimonial block -->
    <div class="testimonial-holder parallax" data-stellar-background-ratio="0.25" id="testimonial-home-page">
        <div class="container">
            <div id="testimonial-home-slide">
                <div class="slide">
                    <blockquote class="testimonial-quote">
                        <div class="img">
                            <img src="img/guests/dw.jpg" height="112" width="112" alt="image description">
                        </div>
                        <div class="text">
                            <cite>DEBORAH W. - SWEDEN</cite>
                            <q>This weekend we went up again to be the first guests of to sleep in this fantastic
                                glassigloo 💙 How cozy with the
                                starry sky as a view, hot tub in the moonlight, luxurious breakfast and really good
                                service!”</q>
                        </div>
                    </blockquote>
                </div>
                <div class="slide">
                    <blockquote class="testimonial-quote">
                        <div class="img">
                            <img src="img/guests/dermi.png" height="112" width="112" alt="image description">
                        </div>
                        <div class="text">
                            <cite>DERMI V. - FRANCE</cite>
                            <q>Staying at an incredible place where we went fishing and observe a wonderful dark sky.
                                Thank you for the excellent time with
                                at Voyager Park.”</q>
                        </div>
                    </blockquote>
                </div>
                <div class="slide">
                    <blockquote class="testimonial-quote">
                        <div class="img">
                            <img src="img/guests/patrick.jpg" height="112" width="112" alt="image description">
                        </div>
                        <div class="text">
                            <cite>PATRICK N. - SWEDEN</cite>
                            <q>The location, the accommodation. It is so inspiring and relaxing. Voyager Park is heaven
                                on earth. Watching the Aurora from the igloo is breath-taking.”</q>
                        </div>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</main>