<!-- main container -->
<main id="main">
    <section class="content-block bg-white">
        <div class="container">
            <header class="content-heading">
                <span class="main-subtitle">Welcome to Voyager Park</span>
                <div class="seperator"></div>
            </header>
            <div class="adventure-holder gallery-home-holder" style="margin-top:35px;">
                <div class="row">
                    <div class="col-md-12 ">
                        <h4 class="text-center">
                            Västernorrland's first glamping resort that offers unique accommodation such as <a
                                href="/deluxeigloo">glass igloos</a>, <a href="/tipi">tipi tents</a>, <a
                                href="/jimnytentbox">off-road vehicles with a Tentbox</a>.
                            Try out our adventurous activities, relax in our facilities and enjoy the nature that
                            surrounds you.<br>
                            We're looking forward to make your swedish experience unforgettable.
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- browse block -->
    <div class="browse-block">
        <div class="browse-destination column">
            <a href="/accommodation"><span>View Accommodation</span></a>
        </div>
        <div class="browse-adventures column">
            <a href="/rentals-and-activities"><span>View Rentals and Activities</span></a>
        </div>
        <div class="browse-destination column">
            <a href="/expeditions"><span>View Expeditions</span></a>
        </div>
    </div>

    <div class="content-block bg-white content-center">
        <div class="container">
            <header class="content-heading">
                <h2 class="main-heading">Explore the Region</h2>
                <strong class="main-subtitle">Backsjön, Sweden</strong>
                <div class="seperator"></div>
            </header><br>
            <div class="row text-center">
                <div class="col-md-12 ">

                    <h4 class="text-center">Surrounded by wildlife, breathtaking lakes and thick forest in the North of
                        Sweden, you will find a small village named
                        Backsjön.<br><br>Far away from the city light pollution, during the winter you will enjoy dark
                        skies with millions of stars visible by
                        naked eye.
                        Depending on the solar cycle, you will also see the northern lights known as Aurora Borealis.
                        During the summer, you can visit one of the many bathing places, take a dive in a fresh and
                        clean water, go for a hike
                        or spend your midsummer nights on a boat with 24/7 daylight.<br><br>
                        Deeper in the forest, you will experience silence and peace by nature.<br><br>
                        This region has so much to offer for a perfect vacation.<br>
                        Backsjön is waiting for you!
                    </h4>

                </div>
            </div>
        </div>
    </div>
    <!-- testimonial block -->
    <div class="testimonial-holder parallax" data-stellar-background-ratio="0.25" id="banner-testimonial">
        <div class="container">
            <div id="testimonial-home-slide">
                <div class="slide">
                    <blockquote class="testimonial-quote">
                        <div class="img">
                            <img src="img/guests/dw.jpg" height="112" width="112" alt="image description">
                        </div>
                        <div class="text">
                            <cite>DEBORAH W. - SWEDEN</cite>
                            <q>This weekend we went up to Voyager Park to be the first guests to sleep in this fantastic
                                glassigloo 💙 How cozy with the
                                starry sky as a view, hot tub in the moonlight, luxurious breakfast and really good
                                service!”</q>
                        </div>
                    </blockquote>
                </div>
                <div class="slide">
                    <blockquote class="testimonial-quote">
                        <div class="img">
                            <img src="img/guests/dermi.png" height="112" width="112" alt="image description">
                        </div>
                        <div class="text">
                            <cite>DERMI V. - FRANCE</cite>
                            <q>Staying at an incredible place where we went fishing and observe a wonderful dark sky.
                                Thank you for the excellent time
                                at Voyager Park.”</q>
                        </div>
                    </blockquote>
                </div>
                <div class="slide">
                    <blockquote class="testimonial-quote">
                        <div class="img">
                            <img src="img/guests/patrick.jpg" height="112" width="112" alt="image description">
                        </div>
                        <div class="text">
                            <cite>PATRICK N. - SWEDEN</cite>
                            <q>The location, the accommodation. It is so inspiring and relaxing. Voyager Park is heaven
                                on earth. Watching the Aurora from the igloo is breath-taking.”</q>
                        </div>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</main>