<!-- main container -->
<main id="main">
    <section class="content-block bg-white">
        <div class="container">
            <header class="content-heading">
                <img class="gray-logo" src="img/vp/logo-black.png" alt="voyagerpark"><br><br>
                <span class="main-subtitle">Explore. Relax. placeholder</span>
                <div class="seperator"></div>
            </header>
            <div class="adventure-holder gallery-home-holder">
                <div class="row">
                    <div class="col-md-6 img-block">
                        <!-- gallery list -->
                        <ul class="gallery-list gallery-with-icon">
                            <li>
                                <a href="#" class="thumbnail">
                                    <img src="img/gallery/img-01.jpg" height="165" width="170" alt="image description">
                                    <span class="hover icon-bird"></span>
                                    <span class="info">Glass Igloo</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="thumbnail">
                                    <img src="img/gallery/img-02.jpg" height="165" width="170" alt="image description">
                                    <span class="hover icon-peak"></span>
                                    <span class="info">Grilling</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="thumbnail">
                                    <img src="img/gallery/img-03.jpg" height="165" width="170" alt="image description">
                                    <span class="hover icon-water"></span>
                                    <span class="info">Offroad</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="thumbnail">
                                    <img src="img/gallery/img-04.jpg" height="165" width="170" alt="image description">
                                    <span class="hover icon-asia"></span>
                                    <span class="info">Fishing</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="thumbnail">
                                    <img src="img/gallery/img-05.jpg" height="165" width="170" alt="image description">
                                    <span class="hover icon-arctic"></span>
                                    <span class="info">Dogsledding</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="thumbnail">
                                    <img src="img/gallery/img-06.jpg" height="165" width="170" alt="image description">
                                    <span class="hover icon-africa"></span>
                                    <span class="info">Biking</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="thumbnail">
                                    <img src="img/gallery/img-07.jpg" height="165" width="170" alt="image description">
                                    <span class="hover icon-plant"></span>
                                    <span class="info">Kayak</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="thumbnail">
                                    <img src="img/gallery/img-08.jpg" height="165" width="170" alt="image description">
                                    <span class="hover icon-wildlife"></span>
                                    <span class="info">Tipitent</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="thumbnail">
                                    <img src="img/gallery/img-09.jpg" height="165" width="170" alt="image description">
                                    <span class="hover icon-diamond"></span>
                                    <span class="info">Hiking</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 text-block">
                        <div class="centered">
                            <h2 class="intro-heading">Welcome to Voyager Park</h2>
                            <p class="intro">Intro Voyager Park - 4 or 5 lines</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- browse block -->
    <div class="browse-block">
        <div class="browse-destination column">
            <a href="/accommodations"><span>View Accommodations</span></a>
        </div>
        <div class="browse-adventures column">
            <a href="/rentals-and-activities-summer"><span>View Summer Activities</span></a>
        </div>
        <div class="browse-destination column">
            <a href="/rentals-and-activities-winter"><span>View Winter Activities</span></a>
        </div>
        <div class="browse-adventures column">
            <a href="/partner-activities"><span>View Partner Activities</span></a>
        </div>
    </div>
    <div class="content-block bg-gray">
        <div class="container">
            <header class="content-heading">
                <h2 class="main-heading">ABOUT THE REGION</h2>
                <strong class="main-subtitle">short placeholder about the region</strong>
                <div class="seperator"></div>
            </header>
            <div class="row">
                <div class="col-sm-6 description-text">
                    <h3>Summer</h3>
                    <p>placeholder
                    </p>
                    <p>placeholder</p>
                </div>
                <div class="col-sm-6 description-text">
                    <h3>Winter</h3>
                    <p>placeholder
                    </p>
                    <p>placeholder </p>
                </div>
            </div>
        </div>
    </div>
    <!-- testimonial block -->
    <div class="testimonial-holder parallax" data-stellar-background-ratio="0.25" id="testimonial-home-page">
        <div class="container">
            <div id="testimonial-home-slide">
                <div class="slide">
                    <blockquote class="testimonial-quote">
                        <div class="img">
                            <img src="img/guests/dw.jpg" height="112" width="112" alt="image description">
                        </div>
                        <div class="text">
                            <cite>DEBORAH W. - SWEDEN</cite>
                            <q>This weekend we went up again to be the first guests of to sleep in this fantastic
                                glassigloo 💙 How cozy with the
                                starry sky as a view, hot tub in the moonlight, luxurious breakfast and really good
                                service!”</q>
                        </div>
                    </blockquote>
                </div>
                <div class="slide">
                    <blockquote class="testimonial-quote">
                        <div class="img">
                            <img src="img/guests/dermi.png" height="112" width="112" alt="image description">
                        </div>
                        <div class="text">
                            <cite>DERMI V. - FRANCE</cite>
                            <q>Staying at an incredible place where we went fishing and observe a wonderful dark sky.
                                Thank you for the excellent time with
                                at Voyager Park.”</q>
                        </div>
                    </blockquote>
                </div>
                <div class="slide">
                    <blockquote class="testimonial-quote">
                        <div class="img">
                            <img src="img/guests/patrick.jpg" height="112" width="112" alt="image description">
                        </div>
                        <div class="text">
                            <cite>PATRICK N. - SWEDEN</cite>
                            <q>The location, the accommodation. It is so inspiring and relaxing. Voyager Park is heaven
                                on earth. Watching the Aurora from the igloo is breath-taking.”</q>
                        </div>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</main>