<!-- Rentals and Activities Modal-->
<div class="modal fade" id="viewkayak" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-activity">
            <div class="row text-center">
                <p>text about Kayak</p>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="viewferoza" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-activity">
            <div class="row text-center">
                <h3><strong>Daihatsu Feroza</strong></h3>
                <p><strong>Description:</strong><br>Placeholder Text</p>
                <p><strong>Details:</strong><br>
                    250KM included<br>
                    €0.20 for every extra KM<br>
                    Drivers License B is required<br>
                    Minimum age: 23 years<br>
                    €500 minimum deposit<br>
                    Max 2 people per vehicle</p>
                </a>
                <h3 style="margin-top:25px;">Price per 24hr<br><strong>€250</strong></h3>
                <h3 style="margin-top:25px;">Price per week<br><strong>€1300</strong></h3>
                <a target="_blank" href="#" class="btn btn-default">Read our full policy</a>
                <a target="_blank" href="#" class="btn btn-default">Contact for booking</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="viewsamurai" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-activity">
            <div class="row text-center">
                <h3><strong>Suzuki Samurai</strong></h3>
                <p><strong>Description:</strong><br>Placeholder Text</p>
                <p><strong>Details:</strong><br>
                    250KM included<br>
                    €0.20 for every extra KM<br>
                    Drivers License B is required<br>
                    Minimum age: 23 years<br>
                    €500 minimum deposit<br>
                    Max 2 people per vehicle</p>
                </a>
                <h3 style="margin-top:25px;">Price per 24hr<br><strong>€250</strong></h3>
                <h3 style="margin-top:25px;">Price per week<br><strong>€1300</strong></h3>
                <a target="_blank" href="#" class="btn btn-default">Read our full policy</a>
                <a target="_blank" href="#" class="btn btn-default">Contact for booking</a>
            </div>
        </div>
    </div>
</div>

<!-- Booking Modal -->
<div class="modal fade" id="booknow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="apartmentIframeAll">
                <script type="text/javascript" src="https://login.smoobu.com/js/Settings/BookingToolIframe.js"></script>
                <script>BookingToolIframe.initialize({ "url": "https://login.smoobu.com/en/booking-tool/iframe/272206", "baseUrl": "https://login.smoobu.com", "target": "#apartmentIframeAll" })</script>
            </div>
        </div>
    </div>
</div>