<!-- Rentals and Activities Modal-->
<div class="modal fade" id="viewkayak" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="container">
                <p>text about Kayak</p>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="viewferoza" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="container">
                <p>text about Feroza</p>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="viewsamurai" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="container">
                <p>text about samurai</p>
            </div>
        </div>
    </div>
</div>

<!-- Booking Modal -->
<div class="modal fade" id="booknow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="apartmentIframeAll">
                <script type="text/javascript" src="https://login.smoobu.com/js/Settings/BookingToolIframe.js"></script>
                <script>BookingToolIframe.initialize({ "url": "https://login.smoobu.com/en/booking-tool/iframe/272206", "baseUrl": "https://login.smoobu.com", "target": "#apartmentIframeAll" })</script>
            </div>
        </div>
    </div>
</div>