<!-- main header -->
<header id="header" class="white-header">
	<div class="container-fluid">
		<!-- logo -->
		<div class="logo">
			<a href="/">
				<img class="normal" src="img/vp/logo-white-header.png" alt="voyagerpark">
				<img class="gray-logo" src="img/vp/logo-black-header.png" alt="voyagerpark">
			</a>
		</div>
		<!-- main navigation -->
		<nav class="navbar navbar-default">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle nav-opener" data-toggle="collapse" data-target="#nav">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<!-- main menu items and drop for mobile -->
			<div class="collapse navbar-collapse" id="nav">
				<!-- main navbar -->
				<ul class="nav navbar-nav">
					<li class="dropdown">
					<li><a href="/">Home</a></li>
					<li><a href="/accommodation">Accommodation</a></li>
					<li class="dropdown has-mega-dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Rentals & Activities <b
								class="icon-angle-down"></b></a>
						<div class="dropdown-menu">
							<div class="drop-wrap">
								<div class="drop-holder">
									<div class="row" style="text-align: center;justify-content: center;">
										<div class="col-sm-6 col-md-4">
											<div class="col">
												<div class="img-wrap">
													<a href="/rentals-and-activities-summer"><img
															src="img/generic/img-01.jpg" height="228" width="350"
															alt="image description"></a>
												</div>
												<div class="des">
													<strong class="title"><a
															href="/rentals-and-activities-summer">Summer</a></strong>
													<p>text about summer</p>
												</div>
											</div>
										</div>

										<div class="col-sm-6 col-md-4">
											<div class="col">
												<div class="img-wrap">
													<a href="/rentals-and-activities-winter"><img
															src="img/generic/img-04.jpg" height="215" width="370"
															alt="image description"></a>
												</div>
												<div class="des">
													<strong class="title"><a
															href="/rentals-and-activities-winter">Winter</a></strong>
													<p>text about winter</p>
												</div>
											</div>
										</div>
										<div class="col-sm-6 col-md-4">
											<div class="col">
												<div class="img-wrap">
													<a href="/partner-activities"><img src="img/generic/img-04.jpg"
															height="215" width="370" alt="image description"></a>
												</div>
												<div class="des">
													<strong class="title"><a href="/partner-activities">Partner
															Activities</a></strong>
													<p>text about winter</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li><a href="/expeditions">Expeditions</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</div>
		</nav>
	</div>
</header>