<!-- main header -->
<header id="header" class="white-header">
	<div class="container-fluid">
		<!-- logo -->
		<div class="logo">
			<a href="/">
				<img class="normal" src="img/vp/logo-white-header.png" alt="voyagerpark">
				<img class="gray-logo" src="img/vp/logo-black-header.png" alt="voyagerpark">
			</a>
		</div>
		<!-- main navigation -->
		<nav class="navbar navbar-default">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle nav-opener" data-toggle="collapse" data-target="#nav">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<!-- main menu items and drop for mobile -->
			<div class="collapse navbar-collapse" id="nav">
				<!-- main navbar -->
				<ul class="nav navbar-nav">
					<li class="dropdown">
					<li><a href="/">Home</a></li>
					<li><a href="/accommodation">Accommodation</a></li>
					<li><a href="/rentals-and-activities">Rentals and Activities</a></li>
					<!--	<li><a href="/restaurant">Restaurant</a></li>-->
					<li><a href="/expeditions">Expeditions</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</div>
		</nav>
	</div>
</header>