<section class="banner banner-inner banner-midpage parallax " data-stellar-background-ratio="0.5"
    id="banner-partner-activities">
    <div class="banner-text">
        <div class="text-center">
            <div class="container">
                <h1>Partner Activities</h1>
                <strong class="subtitle">There is a lot more to do around Voyager Park</strong>
            </div>
        </div>
    </div>
</section>
<section class="content-block bg-white" style="margin-bottom:0px!important;padding-bottom:0px!important;">
    <div class="container">
        <header class="content-heading">
            <h2 class="main-heading">Farm Backsjön</h2>
            <span class="main-subtitle">Disconnect. Breathe Nature. Reconnect.</span>
            <div class="seperator"></div>
        </header>
        <div class="adventure-holder gallery-home-holder">
            <div class="row">
                <!--       <div class="col-md-6 img-block">
                  
                    <ul class="gallery-list gallery-with-icon">
                        <li>
                            <a href="#" class="thumbnail">
                                <img src="img/gallery/img-01.jpg" style="height:165px;width:165px;" height="165"
                                    width="165" alt="image description">

                                <span class="info">Winter Cafe</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="thumbnail">
                                <img src="img/farmbacksjon/dogsledding.png" style="height:165px;width:165px;"
                                    height="165" width="165" alt="image description">

                                <span class="info">Dog Sledding</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="thumbnail">
                                <img src="img/farmbacksjon/icefishing.png" style="height:165px;width:165px;"
                                    height="165" width="165" alt="image description">

                                <span class="info">Ice Fishing</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="thumbnail">
                                <img src="img/farmbacksjon/snowmobile.png" style="height:165px;width:165px;"
                                    height="165" width="165" alt="image description">

                                <span class="info">Snowmobile</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="thumbnail">
                                <img src="img/farmbacksjon/hiking.png" style="height:165px;width:165px;" height="165"
                                    width="165" alt="image description">

                                <span class="info">Hiking</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="thumbnail">
                                <img src="img/gallery/img-06.jpg" style="height:165px;width:165px;" height="165"
                                    width="165" alt="image description">

                                <span class="info">Goldwashing</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="thumbnail">
                                <img src="img/gallery/img-07.jpg" style="height:165px;width:165px;" height="165"
                                    width="165" alt="image description">

                                <span class="info">Canoe</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="thumbnail">
                                <img src="img/gallery/img-08.jpg" style="height:165px;width:165px;" height="165"
                                    width="165" alt="image description">

                                <span class="info">Safari</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="thumbnail">
                                <img src="img/gallery/img-09.jpg" style="height:165px;width:165px;" height="165"
                                    width="165" alt="image description">

                                <span class="info">Donkey Tour</span>
                            </a>
                        </li>
                    </ul>
                </div>-->
                <div class="col-md-12 text-block">
                    <div class="text-center">
                        <h2 class="intro-heading">Farm Backsjön</h2>
                        <p class="intro">Take a time out in the nature and
                            enjoy! <br><br>Farm Backsjön offers many activities such as <br>dog
                            sledding,
                            gold
                            washing, donkey safari's, ice fishing, hiking with Siberian Huskies,
                            snow
                            mobile tours and a lot more! <br><br><strong>Click on the
                                link
                                below to visit Farm Backsjön!</strong></p>
                        <a href="https://www.farmbacksjon.com/explore-with-farm-backsjön"
                            class="btn btn-info-sub btn-md btn-shadow radius">Visit Farm
                            Backsjön</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>