<!-- ROW 1 (max 4 items)-->
<div class="row activity-row">
    <article class="col-sm-6 col-md-3 article">
        <a href="#kayak" data-toggle="modal" data-target="#viewkayak">
            <div class="thumbnail">
                <div class="sub-info" style="width:100%;">
                    <h3 style="float:left;">Kayak</h3>
                    <span style="float:right;">
                        <img src="/img/icons/summer.png" class="activity-icon"></img>
                    </span>
                </div>
                <strong class="info-title" style="text-align:center">Rental</strong>
                <div class="img-wrap">
                    <img src="img/activities/kayak.png" class="rental-pic" alt="image description">
                </div>
                <footer>
                    <div class="sub-info" style="width:100%;">
                        <span style="float:left;">per day</span>
                        <span style="float:right;">€ 75</span>
                    </div>
                </footer>
            </div>
        </a>
    </article>
    <article class="col-sm-6 col-md-3 article">
        <a href="#fishing" data-toggle="modal" data-target="#fishing">
            <div class="thumbnail">
                <div class="sub-info" style="width:100%;">
                    <h3 style="float:left;">Fishing Gear</h3>
                    <span style="float:right;">
                        <img src="/img/icons/summer.png" class="activity-icon"></img></span>
                </div>
                <strong class="info-title" style="text-align:center">Rental</strong>
                <div class="img-wrap">
                    <img src="img/activities/fishing.png" class="rental-pic" alt="image description">
                </div>
                <footer>
                    <div class="sub-info" style="width:100%;">
                        <span style="float:left;">per day</span>
                        <span style="float:right;">€ 25</span>
                    </div>
                </footer>
            </div>
        </a>
    </article>
    <article class="col-sm-6 col-md-3 article">
        <a href="#aurorahunt" data-toggle="modal" data-target="#viewaurorahunt">
            <div class="thumbnail">
                <div class="sub-info" style="width:100%;">
                    <h3 style="float:left;">Aurora Hunt</h3>
                    <span style="float:right;">
                        <img src="/img/icons/winter.png" class="activity-icon"></img></span>
                </div>
                <strong class="info-title" style="text-align:center">Activity</strong>
                <div class="img-wrap">
                    <img src="img/activities/aurorahunt.png" class="rental-pic" alt="image description">
                </div>
                <footer>
                    <div class="sub-info" style="width:100%;">
                        <span style="float:left;">per day</span>
                        <span style="float:right;">€ 25</span>
                    </div>
                </footer>
            </div>
        </a>
    </article>
    <article class="col-sm-6 col-md-3 article">
        <a href="#voyagersafari" data-toggle="modal" data-target="#viewvoyagersafari">
            <div class="thumbnail">
                <div class="sub-info" style="width:100%;">
                    <h3 style="float:left;">Voyager Safari</h3>
                    <span style="float:right;">
                        <img src="/img/icons/winter.png" class="activity-icon"></img></span>
                </div>
                <strong class="info-title" style="text-align:center">Activity</strong>
                <div class="img-wrap">
                    <img src="img/activities/safari.png" class="rental-pic" alt="image description">
                </div>
                <footer>
                    <div class="sub-info" style="width:100%;">
                        <span style="float:left;">per day</span>
                        <span style="float:right;">€ 25</span>
                    </div>
                </footer>
            </div>
        </a>
    </article>
</div>

<!-- ROW 2 (max 4 items)-->
<div class="row activity-row">
    <article class="col-sm-6 col-md-3 article">
        <a href="#samurai" data-toggle="modal" data-target="#viewsamurai">
            <div class="thumbnail">
                <div class="sub-info" style="width:100%;">
                    <h3 style="float:left;">Suzuki Samurai</h3>
                    <span style="float:right;">
                        <img src="/img/icons/summer.png" class="activity-icon"></img>
                        <img src="/img/icons/winter.png" class="activity-icon"></img></span>
                </div>
                <strong class="info-title" style="text-align:center">Rental</strong>
                <div class="img-wrap">
                    <img src="img/activities/samurai/samuraidemo.png" class="rental-pic" alt="image description">
                </div>
                <footer>
                    <div class="sub-info" style="width:100%;">
                        <span style="float:left;">per day</span>
                        <span style="float:right;">€ 0</span>
                    </div>
                </footer>
            </div>
        </a>
    </article>
    <article class="col-sm-6 col-md-3 article">
        <a href="#feroza" data-toggle="modal" data-target="#viewferoza">
            <div class="thumbnail">
                <div class="sub-info" style="width:100%;">
                    <h3 style="float:left;">Daihatsu Feroza</h3>
                    <span style="float:right;">
                        <img src="/img/icons/summer.png" class="activity-icon"></img>
                        <img src="/img/icons/winter.png" class="activity-icon"></img></span>
                </div>
                <strong class="info-title" style="text-align:center">Rental</strong>
                <div class="img-wrap">
                    <img src="img/activities/feroza/feroza1.jpg" class="rental-pic" alt="image description">
                </div>
                <footer>
                    <div class="sub-info" style="width:100%;">
                        <span style="float:left;">per day</span>
                        <span style="float:right;">€ 0</span>
                    </div>
                </footer>
            </div>
        </a>
    </article>
    <article class="col-sm-6 col-md-3 article">
        <a href="#feroza" data-toggle="modal" data-target="#viewferoza">
            <div class="thumbnail">
                <div class="sub-info" style="width:100%;">
                    <h3 style="float:left;">e-Mountainbike</h3>
                    <span style="float:right;">
                        <img src="/img/icons/summer.png" class="activity-icon"></img>
                    </span>
                </div>
                <strong class="info-title" style="text-align:center">Rental</strong>
                <div class="img-wrap">
                    <img src="img/activities/feroza/feroza1.jpg" class="rental-pic" alt="image description">
                </div>
                <footer>
                    <div class="sub-info" style="width:100%;">
                        <span style="float:left;">per day</span>
                        <span style="float:right;">€ 0</span>
                    </div>
                </footer>
            </div>
        </a>
    </article>
    <article class="col-sm-6 col-md-3 article">
        <a href="#feroza" data-toggle="modal" data-target="#viewferoza">
            <div class="thumbnail">
                <div class="sub-info" style="width:100%;">
                    <h3 style="float:left;">Sauna</h3>
                    <span style="float:right;">
                        <img src="/img/icons/summer.png" class="activity-icon"></img><img src="/img/icons/winter.png"
                            class="activity-icon"></img>
                    </span>
                </div>
                <strong class="info-title" style="text-align:center">Activity</strong>
                <div class="img-wrap">
                    <img src="img/activities/feroza/feroza1.jpg" class="rental-pic" alt="image description">
                </div>
                <footer>
                    <div class="sub-info" style="width:100%;">
                        <span style="float:left;">per day</span>
                        <span style="float:right;">€ 0</span>
                    </div>
                </footer>
            </div>
        </a>
    </article>
</div>

<!-- ROW 3 (max 4 items)-->
<div class="row activity-row">
    <article class="col-sm-6 col-md-3 article">
        <a href="#samurai" data-toggle="modal" data-target="#viewsamurai">
            <div class="thumbnail">
                <div class="sub-info" style="width:100%;">
                    <h3 style="float:left;">Hot Tub</h3>
                    <span style="float:right;">
                        <img src="/img/icons/summer.png" class="activity-icon"></img>
                        <img src="/img/icons/winter.png" class="activity-icon"></img></span>
                </div>
                <strong class="info-title" style="text-align:center">Activity</strong>
                <div class="img-wrap">
                    <img src="img/activities/samurai/samuraidemo.png" class="rental-pic" alt="image description">
                </div>
                <footer>
                    <div class="sub-info" style="width:100%;">
                        <span style="float:left;">per day</span>
                        <span style="float:right;">€ 0</span>
                    </div>
                </footer>
            </div>
        </a>
    </article>

</div>