<article class="col-sm-6 col-md-3 article">
    <a href="#kayak" data-toggle="modal" data-target="#viewkayak">
        <div class="thumbnail">
            <h3 class="no-space">Kayak</h3>
            <strong class="info-title">Rental</strong>
            <div class="img-wrap">
                <img src="img/listing/img-31.jpg" height="250" width="250" alt="image description">
            </div>
            <footer>
                <div class="sub-info" style="width:100%;">
                    <span style="float:left;">per 4 hours</span>
                    <span style="float:right;">€ 0</span>

                </div>
            </footer>
        </div>
    </a>
</article>
<article class="col-sm-6 col-md-3 article">
    <div class="thumbnail">
        <h3 class="no-space"><a href="/fishing">Fishing Gear</a></h3>
        <strong class="info-title">Rental</strong>
        <div class="img-wrap">
            <img src="img/listing/img-31.jpg" class="rental-pic" alt="image description">
        </div>
        <footer>
            <div class="sub-info" style="width:100%;">
                <span style="float:left;">per day</span>
                <span style="float:right;">€ 0</span>

            </div>
        </footer>
    </div>
</article>
<article class="col-sm-6 col-md-3 article">
    <div class="thumbnail">
        <h3 class="no-space"><a href="/fishing">Aurora Hunt</a></h3>
        <strong class="info-title">Activity</strong>
        <div class="img-wrap">
            <img src="img/listing/img-31.jpg" class="rental-pic" alt="image description">
        </div>
        <footer>
            <div class="sub-info" style="width:100%;">
                <span style="float:left;">per day</span>
                <span style="float:right;">€ 0</span>

            </div>
        </footer>
    </div>
</article>
<article class="col-sm-6 col-md-3 article">
    <div class="thumbnail">
        <h3 class="no-space"><a href="/tipitent">Voyager Safari</a></h3>
        <strong class="info-title">Activity</strong>
        <div class="img-wrap">
            <img src="img/listing/img-31.jpg" class="rental-pic" alt="image description">
        </div>
        <footer>
            <div class="sub-info" style="width:100%;">
                <span style="float:left;">per 4 hours</span>
                <span style="float:right;">€ 0</span>

            </div>
        </footer>
    </div>
</article>
<article class="col-sm-6 col-md-3 article">
    <a href="#samurai" data-toggle="modal" data-target="#viewsamurai">
        <div class="thumbnail">
            <div class="sub-info" style="width:100%;">
                <h3 style="float:left;">Suzuki Samurai</h3>
                <span style="float:right;">
                    <img src="/img/icons/summer.png" class="activity-icon"></img>
                    <img src="/img/icons/winter.png" class="activity-icon"></img></span>
            </div>
            <strong class="info-title" style="text-align:center">Rental - 250KM Included</strong>
            <div class="img-wrap">
                <img src="img/activities/samurai/samuraidemo.png" class="rental-pic" alt="image description">
            </div>
            <footer>
                <div class="sub-info" style="width:100%;">
                    <span style="float:left;">per day</span>
                    <span style="float:right;">€ 0</span>
                </div>
            </footer>
        </div>
    </a>
</article>
<article class="col-sm-6 col-md-3 article">
    <a href="#feroza" data-toggle="modal" data-target="#viewferoza">
        <div class="thumbnail">
            <div class="sub-info" style="width:100%;">
                <h3 style="float:left;">Daihatsu Feroza</h3>
                <span style="float:right;">
                    <img src="/img/icons/summer.png" class="activity-icon"></img>
                    <img src="/img/icons/winter.png" class="activity-icon"></img></span>
            </div>
            <strong class="info-title" style="text-align:center">Rental - 250KM Included</strong>
            <div class="img-wrap">
                <img src="img/activities/feroza/feroza1.jpg" class="rental-pic" alt="image description">
            </div>
            <footer>
                <div class="sub-info" style="width:100%;">
                    <span style="float:left;">per day</span>
                    <span style="float:right;">€ 0</span>
                </div>
            </footer>
        </div>
    </a>
</article>